@import 'tailwindcss';
@plugin "tailwindcss-animate";

@theme {
  --font-sans: system-ui, sans-serif;
  /* Animations */
  --animate-wiggle: wiggle 1s ease-in-out infinite;
  --animate-fade-in-down: fade-in-down 0.3s ease-out;
  --animate-fade-out-down: fade-out-down 0.3s ease-out;
  --animate-fade-in-up: fade-in-up 0.3s ease-out;
  --animate-fade-out-up: fade-out-up 0.3s ease-out;

  /* Shadows */
  --shadow-custom: 0px 0px 50px 0px rgb(82 63 105 / 15%);

  /* Color Aliases */
  --color-border: var(--border);
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-input: var(--input);
  --color-ring: var(--ring);

  --color-success: var(--success);
  --color-success-foreground: var(--success-foreground);
  --color-info: var(--info);
  --color-info-foreground: var(--info-foreground);
  --color-warning: var(--warning);
  --color-warning-foreground: var(--warning-foreground);
  --color-danger: var(--danger);

  /* Keyframes */
  @keyframes wiggle {
    0%,
    100% {
      transform: rotate(-3deg);
    }
    50% {
      transform: rotate(3deg);
    }
  }

  @keyframes fade-in-down {
    0% {
      opacity: 0;
      transform: translateY(-10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes fade-out-down {
    from {
      opacity: 1;
      transform: translateY(0);
    }
    to {
      opacity: 0;
      transform: translateY(10px);
    }
  }

  @keyframes fade-in-up {
    0% {
      opacity: 0;
      transform: translateY(10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes fade-out-up {
    from {
      opacity: 1;
      transform: translateY(0);
    }
    to {
      opacity: 0;
      transform: translateY(-10px);
    }
  }
}

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #0c1420;
    --card: #f1f5f9;
    --card-foreground: #000000;
    --primary: #e11d48;
    --primary-foreground: #ffffff;
    --secondary: #e6e6e6;
    --secondary-foreground: #171717;
    --muted: #cfd9e5;
    --muted-foreground: #64748b;
    --accent: #f5f5f5;
    --accent-foreground: #171717;
    --destructive: #ef4444;
    --destructive-foreground: #ffffff;
    --border: #e2e8f0;
    --input: #e5e5e5;
    --ring: #0a0a0a;
    --radius: 0.5rem;

    --success: #16a34a;
    --success-foreground: #f8fafc;
    --info: #2563eb;
    --info-foreground: #f8fafc;
    --warning: #f97316;
    --warning-foreground: #fafaf9;
    --danger: #ff0f0f;

    --chart-1: #2490ff;
    --chart-2: #e76a4b;

    /* Sidebar Variables */
    --sidebar-width: 250px;
  }

  .dark {
    --background: #0a0a0a;
    --foreground: #f2f2f2;
    --card: #1c1c1c;
    --card-foreground: #f2f2f2;
    --primary: #e63946;
    --primary-foreground: #ffffff;
    --secondary: #333333;
    --secondary-foreground: #fafafa;
    --muted: #262626;
    --muted-foreground: #a3a3a3;
    --accent: #262626;
    --accent-foreground: #fafafa;
    --destructive: #ff0033;
    --destructive-foreground: #ffffff;
    --border: #262626;
    --input: #262626;
    --ring: #d4d4d4;
    --success: #22c55e;
    --success-foreground: #f0fdf4;
    --info: #3b82f6;
    --info-foreground: #eff6ff;
    --warning: #f97316;
    --warning-foreground: #fff7ed;
    --danger: #ff3333;
    --chart-1: #cc0022;
    --chart-2: #e23670;
  }

  /* Multi-theme support */
  :root[data-theme='violet'] {
    --primary: #6e56cf;
    --chart-1: #6e56cf;
  }
  .dark[data-theme='violet'] {
    --background: #060815;
    --foreground: #f6f8fb;
    --primary: #6d28d9;
    --border: #232b3d;
  }

  :root[data-theme='red'] {
    --primary: #cc0033;
    --chart-1: #cc0033;
  }
  :root[data-theme='blue'] {
    --primary: #2490ff;
    --chart-1: #2490ff;
  }
  :root[data-theme='orange'] {
    --primary: #ea580c;
    --chart-1: #ea580c;
  }
  :root[data-theme='yellow'] {
    --primary: #facc15;
    --chart-1: #facc15;
  }
  :root[data-theme='green'] {
    --primary: #22c55e;
    --chart-1: #22c55e;
  }

  /* Global Styles & Resets */
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--border, currentColor);
  }

  body {
    @apply bg-background text-foreground;
    font-family: var(--font-sans);
  }

  /* Scrollbar Styles */
  *::-webkit-scrollbar {
    @apply w-1 h-1 bg-background;
  }
  *::-webkit-scrollbar-thumb {
    @apply rounded-lg bg-foreground/30;
  }

  /* Form Element Resets */
  [type='checkbox'],
  [type='radio'] {
    @apply h-4 w-4 rounded-sm border-border bg-background checked:border-primary checked:bg-primary focus:ring-2 focus:ring-primary;
  }
}

@utility container {
  padding-inline: 1rem;
  @media (width >=theme(--breakpoint-sm)) {
    padding-inline: 2rem;
  }
  @media (width >=theme(--breakpoint-lg)) {
    padding-inline: 4rem;
  }
  @media (width >=theme(--breakpoint-xl)) {
    padding-inline: 5rem;
  }
  @media (width >=theme(--breakpoint-2xl)) {
    padding-inline: 6rem;
  }
}

/* Dropdown Utility */
@utility dropdown-content {
  @apply pointer-events-none scale-95 opacity-0 duration-100 ease-in;

  .dropdown:hover & {
    @apply pointer-events-auto scale-100 animate-fade-in-up opacity-100 duration-200;
  }
}

@utility dropdown {
  position: relative;
}

.sidebar-expanded {
  --sidebar-width: 295px;
}

.sidebar-collapsed {
  --sidebar-width: 105px;
}

.action-bar-left {
  left: var(--sidebar-width);
  transition: left 0.2s ease-in-out;
}

.table-link {
  @apply hover:underline;
}

.xterm,
.xterm-viewport {
  padding: 12px;
  background-color: #f7f8f9 !important;
}

.dark .xterm,
.dark .xterm-viewport {
  background-color: #151b25 !important;
}
