**/.classpath
**/.artifacts
**/.dotnet
**/.dockerignore
**/.env
**/.env.*
!**/.env.example
**/.git
**/.gitignore
**/.next
**/.project
**/.settings
**/.tmp-build
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/azds.yaml
**/bin
**/charts
**/docker-compose*
**/Dockerfile*
**/node_modules
**/npm-debug.log
**/obj
**/secrets.dev.yaml
**/TestResults
**/target
**/values.dev.yaml
LICENSE
README.md
