/*
 * Docker Engine API
 *
 * The Engine API is an HTTP API served by Docker Engine. It is the API the Docker client uses to communicate with the Engine, so everything the Docker client can do can be done with the API.  Most of the client's commands map directly to API endpoints (e.g. `docker ps` is `GET /containers/json`). The notable exception is running containers, which consists of several API calls.  # Errors  The API uses standard HTTP status codes to indicate the success or failure of the API call. The body of the response will be JSON in the following format:  ``` {   \"message\": \"page not found\" } ```  # Versioning  The API is usually changed in each release, so API calls are versioned to ensure that clients don't break. To lock to a specific version of the API, you prefix the URL with its version, for example, call `/v1.30/info` to use the v1.30 version of the `/info` endpoint. If the API version specified in the URL is not supported by the daemon, a HTTP `400 Bad Request` error message is returned.  If you omit the version-prefix, the current version of the API (v1.49) is used. For example, calling `/info` is the same as calling `/v1.49/info`. Using the API without a version-prefix is deprecated and will be removed in a future release.  Engine releases in the near future should support this version of the API, so your client will continue to work even if it is talking to a newer Engine.  The API uses an open schema model, which means the server may add extra properties to responses. Likewise, the server will ignore any extra query parameters and request body properties. When you write clients, you need to ignore additional properties in responses to ensure they do not break when talking to newer daemons.   # Authentication  Authentication for registries is handled client side. The client has to send authentication details to various endpoints that need to communicate with registries, such as `POST /images/(name)/push`. These are sent as `X-Registry-Auth` header as a [base64url encoded](https://tools.ietf.org/html/rfc4648#section-5) (JSON) string with the following structure:  ``` {   \"username\": \"string\",   \"password\": \"string\",   \"email\": \"string\",   \"serveraddress\": \"string\" } ```  The `serveraddress` is a domain/IP without a protocol. Throughout this structure, double quotes are required.  If you have already got an identity token from the [`/auth` endpoint](#operation/SystemAuth), you can just pass this instead of credentials:  ``` {   \"identitytoken\": \"9cbaf023786cd7...\" } ```
 *
 * The version of the OpenAPI document: 1.49
 *
 * Generated by: https://openapi-generator.tech
 */

use super::{Error, configuration};
use crate::apis::ContentType;
use crate::{apis::ResponseContent, models};
use async_trait::async_trait;
use reqwest;
use serde::{Deserialize, Serialize, de::Error as _};
use std::sync::Arc;

#[async_trait]
pub trait ImageApi: Send + Sync {
    /// POST /build/prune
    ///
    ///
    async fn build_prune<
        'keep_storage,
        'reserved_space,
        'max_used_space,
        'min_free_space,
        'all,
        'filters,
    >(
        &self,
        keep_storage: Option<i64>,
        reserved_space: Option<i64>,
        max_used_space: Option<i64>,
        min_free_space: Option<i64>,
        all: Option<bool>,
        filters: Option<&'filters str>,
    ) -> Result<models::BuildPruneResponse, Error<BuildPruneError>>;

    /// POST /build
    ///
    /// Build an image from a tar archive with a `Dockerfile` in it.  The `Dockerfile` specifies how the image is built from the tar archive. It is typically in the archive's root, but can be at a different path or have a different name by specifying the `dockerfile` parameter. [See the `Dockerfile` reference for more information](https://docs.docker.com/engine/reference/builder/).  The Docker daemon performs a preliminary validation of the `Dockerfile` before starting the build, and returns an error if the syntax is incorrect. After that, each instruction is run one-by-one until the ID of the new image is output.  The build is canceled if the client drops the connection by quitting or being killed.
    async fn image_build<
        'dockerfile,
        't,
        'extrahosts,
        'remote,
        'q,
        'nocache,
        'cachefrom,
        'pull,
        'rm,
        'forcerm,
        'memory,
        'memswap,
        'cpushares,
        'cpusetcpus,
        'cpuperiod,
        'cpuquota,
        'buildargs,
        'shmsize,
        'squash,
        'labels,
        'networkmode,
        'content_type,
        'x_registry_config,
        'platform,
        'target,
        'outputs,
        'version,
        'input_stream,
    >(
        &self,
        dockerfile: Option<&'dockerfile str>,
        t: Option<&'t str>,
        extrahosts: Option<&'extrahosts str>,
        remote: Option<&'remote str>,
        q: Option<bool>,
        nocache: Option<bool>,
        cachefrom: Option<&'cachefrom str>,
        pull: Option<&'pull str>,
        rm: Option<bool>,
        forcerm: Option<bool>,
        memory: Option<i32>,
        memswap: Option<i32>,
        cpushares: Option<i32>,
        cpusetcpus: Option<&'cpusetcpus str>,
        cpuperiod: Option<i32>,
        cpuquota: Option<i32>,
        buildargs: Option<&'buildargs str>,
        shmsize: Option<i32>,
        squash: Option<bool>,
        labels: Option<&'labels str>,
        networkmode: Option<&'networkmode str>,
        content_type: Option<&'content_type str>,
        x_registry_config: Option<&'x_registry_config str>,
        platform: Option<&'platform str>,
        target: Option<&'target str>,
        outputs: Option<&'outputs str>,
        version: Option<&'version str>,
        input_stream: Option<std::path::PathBuf>,
    ) -> Result<(), Error<ImageBuildError>>;

    /// POST /commit
    ///
    ///
    async fn image_commit<
        'container,
        'repo,
        'tag,
        'comment,
        'author,
        'pause,
        'changes,
        'container_config,
    >(
        &self,
        container: Option<&'container str>,
        repo: Option<&'repo str>,
        tag: Option<&'tag str>,
        comment: Option<&'comment str>,
        author: Option<&'author str>,
        pause: Option<bool>,
        changes: Option<&'changes str>,
        container_config: Option<models::ContainerConfig>,
    ) -> Result<models::IdResponse, Error<ImageCommitError>>;

    /// POST /images/create
    ///
    /// Pull or import an image.
    async fn image_create<
        'from_image,
        'from_src,
        'repo,
        'tag,
        'message,
        'x_registry_auth,
        'changes,
        'platform,
        'input_image,
    >(
        &self,
        from_image: Option<&'from_image str>,
        from_src: Option<&'from_src str>,
        repo: Option<&'repo str>,
        tag: Option<&'tag str>,
        message: Option<&'message str>,
        x_registry_auth: Option<&'x_registry_auth str>,
        changes: Option<Vec<String>>,
        platform: Option<&'platform str>,
        input_image: Option<&'input_image str>,
    ) -> Result<(), Error<ImageCreateError>>;

    /// DELETE /images/{name}
    ///
    /// Remove an image, along with any untagged parent images that were referenced by that image.  Images can't be removed if they have descendant images, are being used by a running container or are being used by a build.
    async fn image_delete<'name, 'force, 'noprune>(
        &self,
        name: &'name str,
        force: Option<bool>,
        noprune: Option<bool>,
    ) -> Result<Vec<models::ImageDeleteResponseItem>, Error<ImageDeleteError>>;

    /// GET /images/{name}/get
    ///
    /// Get a tarball containing all images and metadata for a repository.  If `name` is a specific name and tag (e.g. `ubuntu:latest`), then only that image (and its parents) are returned. If `name` is an image ID, similarly only that image (and its parents) are returned, but with the exclusion of the `repositories` file in the tarball, as there were no image names referenced.  ### Image tarball format  An image tarball contains [Content as defined in the OCI Image Layout Specification](https://github.com/opencontainers/image-spec/blob/v1.1.1/image-layout.md#content).  Additionally, includes the manifest.json file associated with a backwards compatible docker save format.  If the tarball defines a repository, the tarball should also include a `repositories` file at the root that contains a list of repository and tag names mapped to layer IDs.  ```json {   \"hello-world\": {     \"latest\": \"565a9d68a73f6706862bfe8409a7f659776d4d60a8d096eb4a3cbce6999cc2a1\"   } } ```
    async fn image_get<'name, 'platform>(
        &self,
        name: &'name str,
        platform: Option<&'platform str>,
    ) -> Result<std::path::PathBuf, Error<ImageGetError>>;

    /// GET /images/get
    ///
    /// Get a tarball containing all images and metadata for several image repositories.  For each value of the `names` parameter: if it is a specific name and tag (e.g. `ubuntu:latest`), then only that image (and its parents) are returned; if it is an image ID, similarly only that image (and its parents) are returned and there would be no names referenced in the 'repositories' file for this image ID.  For details on the format, see the [export image endpoint](#operation/ImageGet).
    async fn image_get_all<'names, 'platform>(
        &self,
        names: Option<Vec<String>>,
        platform: Option<&'platform str>,
    ) -> Result<std::path::PathBuf, Error<ImageGetAllError>>;

    /// GET /images/{name}/history
    ///
    /// Return parent layers of an image.
    async fn image_history<'name, 'platform>(
        &self,
        name: &'name str,
        platform: Option<&'platform str>,
    ) -> Result<Vec<models::HistoryResponseItem>, Error<ImageHistoryError>>;

    /// GET /images/{name}/json
    ///
    /// Return low-level information about an image.
    async fn image_inspect<'name, 'manifests>(
        &self,
        name: &'name str,
        manifests: Option<bool>,
    ) -> Result<models::ImageInspect, Error<ImageInspectError>>;

    /// GET /images/json
    ///
    /// Returns a list of images on the server. Note that it uses a different, smaller representation of an image than inspecting a single image.
    async fn image_list<'all, 'filters, 'shared_size, 'digests, 'manifests>(
        &self,
        all: Option<bool>,
        filters: Option<&'filters str>,
        shared_size: Option<bool>,
        digests: Option<bool>,
        manifests: Option<bool>,
    ) -> Result<Vec<models::ImageSummary>, Error<ImageListError>>;

    /// POST /images/load
    ///
    /// Load a set of images and tags into a repository.  For details on the format, see the [export image endpoint](#operation/ImageGet).
    async fn image_load<'quiet, 'platform, 'images_tarball>(
        &self,
        quiet: Option<bool>,
        platform: Option<&'platform str>,
        images_tarball: Option<std::path::PathBuf>,
    ) -> Result<(), Error<ImageLoadError>>;

    /// POST /images/prune
    ///
    ///
    async fn image_prune<'filters>(
        &self,
        filters: Option<&'filters str>,
    ) -> Result<models::ImagePruneResponse, Error<ImagePruneError>>;

    /// POST /images/{name}/push
    ///
    /// Push an image to a registry.  If you wish to push an image on to a private registry, that image must already have a tag which references the registry. For example, `registry.example.com/myimage:latest`.  The push is cancelled if the HTTP connection is closed.
    async fn image_push<'name, 'x_registry_auth, 'tag, 'platform>(
        &self,
        name: &'name str,
        x_registry_auth: &'x_registry_auth str,
        tag: Option<&'tag str>,
        platform: Option<&'platform str>,
    ) -> Result<(), Error<ImagePushError>>;

    /// GET /images/search
    ///
    /// Search for an image on Docker Hub.
    async fn image_search<'term, 'limit, 'filters>(
        &self,
        term: &'term str,
        limit: Option<i32>,
        filters: Option<&'filters str>,
    ) -> Result<Vec<models::ImageSearchResponseItem>, Error<ImageSearchError>>;

    /// POST /images/{name}/tag
    ///
    /// Tag an image so that it becomes part of a repository.
    async fn image_tag<'name, 'repo, 'tag>(
        &self,
        name: &'name str,
        repo: Option<&'repo str>,
        tag: Option<&'tag str>,
    ) -> Result<(), Error<ImageTagError>>;
}

pub struct ImageApiClient {
    configuration: Arc<configuration::Configuration>,
}

impl ImageApiClient {
    pub fn new(configuration: Arc<configuration::Configuration>) -> Self {
        Self { configuration }
    }
}

#[async_trait]
impl ImageApi for ImageApiClient {
    async fn build_prune<
        'keep_storage,
        'reserved_space,
        'max_used_space,
        'min_free_space,
        'all,
        'filters,
    >(
        &self,
        keep_storage: Option<i64>,
        reserved_space: Option<i64>,
        max_used_space: Option<i64>,
        min_free_space: Option<i64>,
        all: Option<bool>,
        filters: Option<&'filters str>,
    ) -> Result<models::BuildPruneResponse, Error<BuildPruneError>> {
        let local_var_configuration = &self.configuration;

        let local_var_client = &local_var_configuration.client;

        let local_var_uri_str = format!("{}/build/prune", local_var_configuration.base_path);
        let mut local_var_req_builder =
            local_var_client.request(reqwest::Method::POST, local_var_uri_str.as_str());

        if let Some(ref param_value) = keep_storage {
            local_var_req_builder =
                local_var_req_builder.query(&[("keep-storage", &param_value.to_string())]);
        }
        if let Some(ref param_value) = reserved_space {
            local_var_req_builder =
                local_var_req_builder.query(&[("reserved-space", &param_value.to_string())]);
        }
        if let Some(ref param_value) = max_used_space {
            local_var_req_builder =
                local_var_req_builder.query(&[("max-used-space", &param_value.to_string())]);
        }
        if let Some(ref param_value) = min_free_space {
            local_var_req_builder =
                local_var_req_builder.query(&[("min-free-space", &param_value.to_string())]);
        }
        if let Some(ref param_value) = all {
            local_var_req_builder =
                local_var_req_builder.query(&[("all", &param_value.to_string())]);
        }
        if let Some(ref param_value) = filters {
            local_var_req_builder =
                local_var_req_builder.query(&[("filters", &param_value.to_string())]);
        }
        if let Some(ref local_var_user_agent) = local_var_configuration.user_agent {
            local_var_req_builder = local_var_req_builder
                .header(reqwest::header::USER_AGENT, local_var_user_agent.clone());
        }

        if let Some(timeout) = local_var_configuration.request_timeout {
            local_var_req_builder = local_var_req_builder.timeout(timeout);
        }
        let local_var_req = local_var_req_builder.build()?;
        let local_var_resp = local_var_client.execute(local_var_req).await?;

        let local_var_status = local_var_resp.status();
        let local_var_content_type = local_var_resp
            .headers()
            .get("content-type")
            .and_then(|v| v.to_str().ok())
            .unwrap_or("application/json");
        let local_var_content_type = super::ContentType::from(local_var_content_type);
        let limit = if local_var_status.is_success() {
            local_var_configuration.max_response_bytes
        } else {
            local_var_configuration.max_error_bytes
        };
        let local_var_content = super::bounded_text(local_var_resp, limit).await?;

        if local_var_status.is_success() {
            match local_var_content_type {
                ContentType::Json => serde_json::from_str(&local_var_content).map_err(Error::from),
                ContentType::Text => {
                    return Err(Error::from(serde_json::Error::custom(
                        "Received `text/plain` content type response that cannot be converted to `models::BuildPruneResponse`",
                    )));
                }
                ContentType::Unsupported(local_var_unknown_type) => {
                    return Err(Error::from(serde_json::Error::custom(format!(
                        "Received `{local_var_unknown_type}` content type response that cannot be converted to `models::BuildPruneResponse`"
                    ))));
                }
            }
        } else {
            let local_var_entity: Option<BuildPruneError> =
                serde_json::from_str(&local_var_content).ok();
            let local_var_error = ResponseContent {
                status: local_var_status,
                content: local_var_content,
                entity: local_var_entity,
            };
            Err(Error::ResponseError(local_var_error))
        }
    }

    /// Build an image from a tar archive with a `Dockerfile` in it.  The `Dockerfile` specifies how the image is built from the tar archive. It is typically in the archive's root, but can be at a different path or have a different name by specifying the `dockerfile` parameter. [See the `Dockerfile` reference for more information](https://docs.docker.com/engine/reference/builder/).  The Docker daemon performs a preliminary validation of the `Dockerfile` before starting the build, and returns an error if the syntax is incorrect. After that, each instruction is run one-by-one until the ID of the new image is output.  The build is canceled if the client drops the connection by quitting or being killed.
    async fn image_build<
        'dockerfile,
        't,
        'extrahosts,
        'remote,
        'q,
        'nocache,
        'cachefrom,
        'pull,
        'rm,
        'forcerm,
        'memory,
        'memswap,
        'cpushares,
        'cpusetcpus,
        'cpuperiod,
        'cpuquota,
        'buildargs,
        'shmsize,
        'squash,
        'labels,
        'networkmode,
        'content_type,
        'x_registry_config,
        'platform,
        'target,
        'outputs,
        'version,
        'input_stream,
    >(
        &self,
        dockerfile: Option<&'dockerfile str>,
        t: Option<&'t str>,
        extrahosts: Option<&'extrahosts str>,
        remote: Option<&'remote str>,
        q: Option<bool>,
        nocache: Option<bool>,
        cachefrom: Option<&'cachefrom str>,
        pull: Option<&'pull str>,
        rm: Option<bool>,
        forcerm: Option<bool>,
        memory: Option<i32>,
        memswap: Option<i32>,
        cpushares: Option<i32>,
        cpusetcpus: Option<&'cpusetcpus str>,
        cpuperiod: Option<i32>,
        cpuquota: Option<i32>,
        buildargs: Option<&'buildargs str>,
        shmsize: Option<i32>,
        squash: Option<bool>,
        labels: Option<&'labels str>,
        networkmode: Option<&'networkmode str>,
        content_type: Option<&'content_type str>,
        x_registry_config: Option<&'x_registry_config str>,
        platform: Option<&'platform str>,
        target: Option<&'target str>,
        outputs: Option<&'outputs str>,
        version: Option<&'version str>,
        input_stream: Option<std::path::PathBuf>,
    ) -> Result<(), Error<ImageBuildError>> {
        let local_var_configuration = &self.configuration;

        let local_var_client = &local_var_configuration.client;

        let local_var_uri_str = format!("{}/build", local_var_configuration.base_path);
        let mut local_var_req_builder =
            local_var_client.request(reqwest::Method::POST, local_var_uri_str.as_str());

        if let Some(ref param_value) = dockerfile {
            local_var_req_builder =
                local_var_req_builder.query(&[("dockerfile", &param_value.to_string())]);
        }
        if let Some(ref param_value) = t {
            local_var_req_builder = local_var_req_builder.query(&[("t", &param_value.to_string())]);
        }
        if let Some(ref param_value) = extrahosts {
            local_var_req_builder =
                local_var_req_builder.query(&[("extrahosts", &param_value.to_string())]);
        }
        if let Some(ref param_value) = remote {
            local_var_req_builder =
                local_var_req_builder.query(&[("remote", &param_value.to_string())]);
        }
        if let Some(ref param_value) = q {
            local_var_req_builder = local_var_req_builder.query(&[("q", &param_value.to_string())]);
        }
        if let Some(ref param_value) = nocache {
            local_var_req_builder =
                local_var_req_builder.query(&[("nocache", &param_value.to_string())]);
        }
        if let Some(ref param_value) = cachefrom {
            local_var_req_builder =
                local_var_req_builder.query(&[("cachefrom", &param_value.to_string())]);
        }
        if let Some(ref param_value) = pull {
            local_var_req_builder =
                local_var_req_builder.query(&[("pull", &param_value.to_string())]);
        }
        if let Some(ref param_value) = rm {
            local_var_req_builder =
                local_var_req_builder.query(&[("rm", &param_value.to_string())]);
        }
        if let Some(ref param_value) = forcerm {
            local_var_req_builder =
                local_var_req_builder.query(&[("forcerm", &param_value.to_string())]);
        }
        if let Some(ref param_value) = memory {
            local_var_req_builder =
                local_var_req_builder.query(&[("memory", &param_value.to_string())]);
        }
        if let Some(ref param_value) = memswap {
            local_var_req_builder =
                local_var_req_builder.query(&[("memswap", &param_value.to_string())]);
        }
        if let Some(ref param_value) = cpushares {
            local_var_req_builder =
                local_var_req_builder.query(&[("cpushares", &param_value.to_string())]);
        }
        if let Some(ref param_value) = cpusetcpus {
            local_var_req_builder =
                local_var_req_builder.query(&[("cpusetcpus", &param_value.to_string())]);
        }
        if let Some(ref param_value) = cpuperiod {
            local_var_req_builder =
                local_var_req_builder.query(&[("cpuperiod", &param_value.to_string())]);
        }
        if let Some(ref param_value) = cpuquota {
            local_var_req_builder =
                local_var_req_builder.query(&[("cpuquota", &param_value.to_string())]);
        }
        if let Some(ref param_value) = buildargs {
            local_var_req_builder =
                local_var_req_builder.query(&[("buildargs", &param_value.to_string())]);
        }
        if let Some(ref param_value) = shmsize {
            local_var_req_builder =
                local_var_req_builder.query(&[("shmsize", &param_value.to_string())]);
        }
        if let Some(ref param_value) = squash {
            local_var_req_builder =
                local_var_req_builder.query(&[("squash", &param_value.to_string())]);
        }
        if let Some(ref param_value) = labels {
            local_var_req_builder =
                local_var_req_builder.query(&[("labels", &param_value.to_string())]);
        }
        if let Some(ref param_value) = networkmode {
            local_var_req_builder =
                local_var_req_builder.query(&[("networkmode", &param_value.to_string())]);
        }
        if let Some(ref param_value) = platform {
            local_var_req_builder =
                local_var_req_builder.query(&[("platform", &param_value.to_string())]);
        }
        if let Some(ref param_value) = target {
            local_var_req_builder =
                local_var_req_builder.query(&[("target", &param_value.to_string())]);
        }
        if let Some(ref param_value) = outputs {
            local_var_req_builder =
                local_var_req_builder.query(&[("outputs", &param_value.to_string())]);
        }
        if let Some(ref param_value) = version {
            local_var_req_builder =
                local_var_req_builder.query(&[("version", &param_value.to_string())]);
        }
        if let Some(ref local_var_user_agent) = local_var_configuration.user_agent {
            local_var_req_builder = local_var_req_builder
                .header(reqwest::header::USER_AGENT, local_var_user_agent.clone());
        }
        if let Some(local_var_param_value) = content_type {
            local_var_req_builder =
                local_var_req_builder.header("Content-type", local_var_param_value.to_string());
        }
        if let Some(local_var_param_value) = x_registry_config {
            local_var_req_builder = local_var_req_builder
                .header("X-Registry-Config", local_var_param_value.to_string());
        }
        local_var_req_builder = local_var_req_builder.json(&input_stream);

        if let Some(timeout) = local_var_configuration.request_timeout {
            local_var_req_builder = local_var_req_builder.timeout(timeout);
        }
        let local_var_req = local_var_req_builder.build()?;
        let local_var_resp = local_var_client.execute(local_var_req).await?;

        let local_var_status = local_var_resp.status();
        let limit = if local_var_status.is_success() {
            local_var_configuration.max_response_bytes
        } else {
            local_var_configuration.max_error_bytes
        };
        let local_var_content = super::bounded_text(local_var_resp, limit).await?;

        if local_var_status.is_success() {
            Ok(())
        } else {
            let local_var_entity: Option<ImageBuildError> =
                serde_json::from_str(&local_var_content).ok();
            let local_var_error = ResponseContent {
                status: local_var_status,
                content: local_var_content,
                entity: local_var_entity,
            };
            Err(Error::ResponseError(local_var_error))
        }
    }

    async fn image_commit<
        'container,
        'repo,
        'tag,
        'comment,
        'author,
        'pause,
        'changes,
        'container_config,
    >(
        &self,
        container: Option<&'container str>,
        repo: Option<&'repo str>,
        tag: Option<&'tag str>,
        comment: Option<&'comment str>,
        author: Option<&'author str>,
        pause: Option<bool>,
        changes: Option<&'changes str>,
        container_config: Option<models::ContainerConfig>,
    ) -> Result<models::IdResponse, Error<ImageCommitError>> {
        let local_var_configuration = &self.configuration;

        let local_var_client = &local_var_configuration.client;

        let local_var_uri_str = format!("{}/commit", local_var_configuration.base_path);
        let mut local_var_req_builder =
            local_var_client.request(reqwest::Method::POST, local_var_uri_str.as_str());

        if let Some(ref param_value) = container {
            local_var_req_builder =
                local_var_req_builder.query(&[("container", &param_value.to_string())]);
        }
        if let Some(ref param_value) = repo {
            local_var_req_builder =
                local_var_req_builder.query(&[("repo", &param_value.to_string())]);
        }
        if let Some(ref param_value) = tag {
            local_var_req_builder =
                local_var_req_builder.query(&[("tag", &param_value.to_string())]);
        }
        if let Some(ref param_value) = comment {
            local_var_req_builder =
                local_var_req_builder.query(&[("comment", &param_value.to_string())]);
        }
        if let Some(ref param_value) = author {
            local_var_req_builder =
                local_var_req_builder.query(&[("author", &param_value.to_string())]);
        }
        if let Some(ref param_value) = pause {
            local_var_req_builder =
                local_var_req_builder.query(&[("pause", &param_value.to_string())]);
        }
        if let Some(ref param_value) = changes {
            local_var_req_builder =
                local_var_req_builder.query(&[("changes", &param_value.to_string())]);
        }
        if let Some(ref local_var_user_agent) = local_var_configuration.user_agent {
            local_var_req_builder = local_var_req_builder
                .header(reqwest::header::USER_AGENT, local_var_user_agent.clone());
        }
        local_var_req_builder = local_var_req_builder.json(&container_config);

        if let Some(timeout) = local_var_configuration.request_timeout {
            local_var_req_builder = local_var_req_builder.timeout(timeout);
        }
        let local_var_req = local_var_req_builder.build()?;
        let local_var_resp = local_var_client.execute(local_var_req).await?;

        let local_var_status = local_var_resp.status();
        let local_var_content_type = local_var_resp
            .headers()
            .get("content-type")
            .and_then(|v| v.to_str().ok())
            .unwrap_or("application/json");
        let local_var_content_type = super::ContentType::from(local_var_content_type);
        let limit = if local_var_status.is_success() {
            local_var_configuration.max_response_bytes
        } else {
            local_var_configuration.max_error_bytes
        };
        let local_var_content = super::bounded_text(local_var_resp, limit).await?;

        if local_var_status.is_success() {
            match local_var_content_type {
                ContentType::Json => serde_json::from_str(&local_var_content).map_err(Error::from),
                ContentType::Text => {
                    return Err(Error::from(serde_json::Error::custom(
                        "Received `text/plain` content type response that cannot be converted to `models::IdResponse`",
                    )));
                }
                ContentType::Unsupported(local_var_unknown_type) => {
                    return Err(Error::from(serde_json::Error::custom(format!(
                        "Received `{local_var_unknown_type}` content type response that cannot be converted to `models::IdResponse`"
                    ))));
                }
            }
        } else {
            let local_var_entity: Option<ImageCommitError> =
                serde_json::from_str(&local_var_content).ok();
            let local_var_error = ResponseContent {
                status: local_var_status,
                content: local_var_content,
                entity: local_var_entity,
            };
            Err(Error::ResponseError(local_var_error))
        }
    }

    /// Pull or import an image.
    async fn image_create<
        'from_image,
        'from_src,
        'repo,
        'tag,
        'message,
        'x_registry_auth,
        'changes,
        'platform,
        'input_image,
    >(
        &self,
        from_image: Option<&'from_image str>,
        from_src: Option<&'from_src str>,
        repo: Option<&'repo str>,
        tag: Option<&'tag str>,
        message: Option<&'message str>,
        x_registry_auth: Option<&'x_registry_auth str>,
        changes: Option<Vec<String>>,
        platform: Option<&'platform str>,
        input_image: Option<&'input_image str>,
    ) -> Result<(), Error<ImageCreateError>> {
        let local_var_configuration = &self.configuration;

        let local_var_client = &local_var_configuration.client;

        let local_var_uri_str = format!("{}/images/create", local_var_configuration.base_path);
        let mut local_var_req_builder =
            local_var_client.request(reqwest::Method::POST, local_var_uri_str.as_str());

        if let Some(ref param_value) = from_image {
            local_var_req_builder =
                local_var_req_builder.query(&[("fromImage", &param_value.to_string())]);
        }
        if let Some(ref param_value) = from_src {
            local_var_req_builder =
                local_var_req_builder.query(&[("fromSrc", &param_value.to_string())]);
        }
        if let Some(ref param_value) = repo {
            local_var_req_builder =
                local_var_req_builder.query(&[("repo", &param_value.to_string())]);
        }
        if let Some(ref param_value) = tag {
            local_var_req_builder =
                local_var_req_builder.query(&[("tag", &param_value.to_string())]);
        }
        if let Some(ref param_value) = message {
            local_var_req_builder =
                local_var_req_builder.query(&[("message", &param_value.to_string())]);
        }
        if let Some(ref param_value) = changes {
            local_var_req_builder = match "csv" {
                "multi" => local_var_req_builder.query(
                    &param_value
                        .into_iter()
                        .map(|p| ("changes".to_owned(), p.to_string()))
                        .collect::<Vec<(std::string::String, std::string::String)>>(),
                ),
                _ => local_var_req_builder.query(&[(
                    "changes",
                    &param_value
                        .into_iter()
                        .map(|p| p.to_string())
                        .collect::<Vec<String>>()
                        .join(",")
                        .to_string(),
                )]),
            };
        }
        if let Some(ref param_value) = platform {
            local_var_req_builder =
                local_var_req_builder.query(&[("platform", &param_value.to_string())]);
        }
        if let Some(ref local_var_user_agent) = local_var_configuration.user_agent {
            local_var_req_builder = local_var_req_builder
                .header(reqwest::header::USER_AGENT, local_var_user_agent.clone());
        }
        if let Some(local_var_param_value) = x_registry_auth {
            local_var_req_builder =
                local_var_req_builder.header("X-Registry-Auth", local_var_param_value.to_string());
        }
        local_var_req_builder = local_var_req_builder.json(&input_image);

        if let Some(timeout) = local_var_configuration.request_timeout {
            local_var_req_builder = local_var_req_builder.timeout(timeout);
        }
        let local_var_req = local_var_req_builder.build()?;
        let local_var_resp = local_var_client.execute(local_var_req).await?;

        let local_var_status = local_var_resp.status();
        let limit = if local_var_status.is_success() {
            local_var_configuration.max_response_bytes
        } else {
            local_var_configuration.max_error_bytes
        };
        let local_var_content = super::bounded_text(local_var_resp, limit).await?;

        if local_var_status.is_success() {
            Ok(())
        } else {
            let local_var_entity: Option<ImageCreateError> =
                serde_json::from_str(&local_var_content).ok();
            let local_var_error = ResponseContent {
                status: local_var_status,
                content: local_var_content,
                entity: local_var_entity,
            };
            Err(Error::ResponseError(local_var_error))
        }
    }

    /// Remove an image, along with any untagged parent images that were referenced by that image.  Images can't be removed if they have descendant images, are being used by a running container or are being used by a build.
    async fn image_delete<'name, 'force, 'noprune>(
        &self,
        name: &'name str,
        force: Option<bool>,
        noprune: Option<bool>,
    ) -> Result<Vec<models::ImageDeleteResponseItem>, Error<ImageDeleteError>> {
        let local_var_configuration = &self.configuration;

        let local_var_client = &local_var_configuration.client;

        let local_var_uri_str = format!(
            "{}/images/{name}",
            local_var_configuration.base_path,
            name = crate::apis::urlencode(name)
        );
        let mut local_var_req_builder =
            local_var_client.request(reqwest::Method::DELETE, local_var_uri_str.as_str());

        if let Some(ref param_value) = force {
            local_var_req_builder =
                local_var_req_builder.query(&[("force", &param_value.to_string())]);
        }
        if let Some(ref param_value) = noprune {
            local_var_req_builder =
                local_var_req_builder.query(&[("noprune", &param_value.to_string())]);
        }
        if let Some(ref local_var_user_agent) = local_var_configuration.user_agent {
            local_var_req_builder = local_var_req_builder
                .header(reqwest::header::USER_AGENT, local_var_user_agent.clone());
        }

        if let Some(timeout) = local_var_configuration.request_timeout {
            local_var_req_builder = local_var_req_builder.timeout(timeout);
        }
        let local_var_req = local_var_req_builder.build()?;
        let local_var_resp = local_var_client.execute(local_var_req).await?;

        let local_var_status = local_var_resp.status();
        let local_var_content_type = local_var_resp
            .headers()
            .get("content-type")
            .and_then(|v| v.to_str().ok())
            .unwrap_or("application/json");
        let local_var_content_type = super::ContentType::from(local_var_content_type);
        let limit = if local_var_status.is_success() {
            local_var_configuration.max_response_bytes
        } else {
            local_var_configuration.max_error_bytes
        };
        let local_var_content = super::bounded_text(local_var_resp, limit).await?;

        if local_var_status.is_success() {
            match local_var_content_type {
                ContentType::Json => serde_json::from_str(&local_var_content).map_err(Error::from),
                ContentType::Text => {
                    return Err(Error::from(serde_json::Error::custom(
                        "Received `text/plain` content type response that cannot be converted to `Vec&lt;models::ImageDeleteResponseItem&gt;`",
                    )));
                }
                ContentType::Unsupported(local_var_unknown_type) => {
                    return Err(Error::from(serde_json::Error::custom(format!(
                        "Received `{local_var_unknown_type}` content type response that cannot be converted to `Vec&lt;models::ImageDeleteResponseItem&gt;`"
                    ))));
                }
            }
        } else {
            let local_var_entity: Option<ImageDeleteError> =
                serde_json::from_str(&local_var_content).ok();
            let local_var_error = ResponseContent {
                status: local_var_status,
                content: local_var_content,
                entity: local_var_entity,
            };
            Err(Error::ResponseError(local_var_error))
        }
    }

    /// Get a tarball containing all images and metadata for a repository.  If `name` is a specific name and tag (e.g. `ubuntu:latest`), then only that image (and its parents) are returned. If `name` is an image ID, similarly only that image (and its parents) are returned, but with the exclusion of the `repositories` file in the tarball, as there were no image names referenced.  ### Image tarball format  An image tarball contains [Content as defined in the OCI Image Layout Specification](https://github.com/opencontainers/image-spec/blob/v1.1.1/image-layout.md#content).  Additionally, includes the manifest.json file associated with a backwards compatible docker save format.  If the tarball defines a repository, the tarball should also include a `repositories` file at the root that contains a list of repository and tag names mapped to layer IDs.  ```json {   \"hello-world\": {     \"latest\": \"565a9d68a73f6706862bfe8409a7f659776d4d60a8d096eb4a3cbce6999cc2a1\"   } } ```
    async fn image_get<'name, 'platform>(
        &self,
        name: &'name str,
        platform: Option<&'platform str>,
    ) -> Result<std::path::PathBuf, Error<ImageGetError>> {
        let local_var_configuration = &self.configuration;

        let local_var_client = &local_var_configuration.client;

        let local_var_uri_str = format!(
            "{}/images/{name}/get",
            local_var_configuration.base_path,
            name = crate::apis::urlencode(name)
        );
        let mut local_var_req_builder =
            local_var_client.request(reqwest::Method::GET, local_var_uri_str.as_str());

        if let Some(ref param_value) = platform {
            local_var_req_builder =
                local_var_req_builder.query(&[("platform", &param_value.to_string())]);
        }
        if let Some(ref local_var_user_agent) = local_var_configuration.user_agent {
            local_var_req_builder = local_var_req_builder
                .header(reqwest::header::USER_AGENT, local_var_user_agent.clone());
        }

        if let Some(timeout) = local_var_configuration.request_timeout {
            local_var_req_builder = local_var_req_builder.timeout(timeout);
        }
        let local_var_req = local_var_req_builder.build()?;
        let local_var_resp = local_var_client.execute(local_var_req).await?;

        let local_var_status = local_var_resp.status();
        let local_var_content_type = local_var_resp
            .headers()
            .get("content-type")
            .and_then(|v| v.to_str().ok())
            .unwrap_or("application/json");
        let local_var_content_type = super::ContentType::from(local_var_content_type);
        let limit = if local_var_status.is_success() {
            local_var_configuration.max_response_bytes
        } else {
            local_var_configuration.max_error_bytes
        };
        let local_var_content = super::bounded_text(local_var_resp, limit).await?;

        if local_var_status.is_success() {
            match local_var_content_type {
                ContentType::Json => serde_json::from_str(&local_var_content).map_err(Error::from),
                ContentType::Text => {
                    return Err(Error::from(serde_json::Error::custom(
                        "Received `text/plain` content type response that cannot be converted to `std::path::PathBuf`",
                    )));
                }
                ContentType::Unsupported(local_var_unknown_type) => {
                    return Err(Error::from(serde_json::Error::custom(format!(
                        "Received `{local_var_unknown_type}` content type response that cannot be converted to `std::path::PathBuf`"
                    ))));
                }
            }
        } else {
            let local_var_entity: Option<ImageGetError> =
                serde_json::from_str(&local_var_content).ok();
            let local_var_error = ResponseContent {
                status: local_var_status,
                content: local_var_content,
                entity: local_var_entity,
            };
            Err(Error::ResponseError(local_var_error))
        }
    }

    /// Get a tarball containing all images and metadata for several image repositories.  For each value of the `names` parameter: if it is a specific name and tag (e.g. `ubuntu:latest`), then only that image (and its parents) are returned; if it is an image ID, similarly only that image (and its parents) are returned and there would be no names referenced in the 'repositories' file for this image ID.  For details on the format, see the [export image endpoint](#operation/ImageGet).
    async fn image_get_all<'names, 'platform>(
        &self,
        names: Option<Vec<String>>,
        platform: Option<&'platform str>,
    ) -> Result<std::path::PathBuf, Error<ImageGetAllError>> {
        let local_var_configuration = &self.configuration;

        let local_var_client = &local_var_configuration.client;

        let local_var_uri_str = format!("{}/images/get", local_var_configuration.base_path);
        let mut local_var_req_builder =
            local_var_client.request(reqwest::Method::GET, local_var_uri_str.as_str());

        if let Some(ref param_value) = names {
            local_var_req_builder = match "csv" {
                "multi" => local_var_req_builder.query(
                    &param_value
                        .into_iter()
                        .map(|p| ("names".to_owned(), p.to_string()))
                        .collect::<Vec<(std::string::String, std::string::String)>>(),
                ),
                _ => local_var_req_builder.query(&[(
                    "names",
                    &param_value
                        .into_iter()
                        .map(|p| p.to_string())
                        .collect::<Vec<String>>()
                        .join(",")
                        .to_string(),
                )]),
            };
        }
        if let Some(ref param_value) = platform {
            local_var_req_builder =
                local_var_req_builder.query(&[("platform", &param_value.to_string())]);
        }
        if let Some(ref local_var_user_agent) = local_var_configuration.user_agent {
            local_var_req_builder = local_var_req_builder
                .header(reqwest::header::USER_AGENT, local_var_user_agent.clone());
        }

        if let Some(timeout) = local_var_configuration.request_timeout {
            local_var_req_builder = local_var_req_builder.timeout(timeout);
        }
        let local_var_req = local_var_req_builder.build()?;
        let local_var_resp = local_var_client.execute(local_var_req).await?;

        let local_var_status = local_var_resp.status();
        let local_var_content_type = local_var_resp
            .headers()
            .get("content-type")
            .and_then(|v| v.to_str().ok())
            .unwrap_or("application/json");
        let local_var_content_type = super::ContentType::from(local_var_content_type);
        let limit = if local_var_status.is_success() {
            local_var_configuration.max_response_bytes
        } else {
            local_var_configuration.max_error_bytes
        };
        let local_var_content = super::bounded_text(local_var_resp, limit).await?;

        if local_var_status.is_success() {
            match local_var_content_type {
                ContentType::Json => serde_json::from_str(&local_var_content).map_err(Error::from),
                ContentType::Text => {
                    return Err(Error::from(serde_json::Error::custom(
                        "Received `text/plain` content type response that cannot be converted to `std::path::PathBuf`",
                    )));
                }
                ContentType::Unsupported(local_var_unknown_type) => {
                    return Err(Error::from(serde_json::Error::custom(format!(
                        "Received `{local_var_unknown_type}` content type response that cannot be converted to `std::path::PathBuf`"
                    ))));
                }
            }
        } else {
            let local_var_entity: Option<ImageGetAllError> =
                serde_json::from_str(&local_var_content).ok();
            let local_var_error = ResponseContent {
                status: local_var_status,
                content: local_var_content,
                entity: local_var_entity,
            };
            Err(Error::ResponseError(local_var_error))
        }
    }

    /// Return parent layers of an image.
    async fn image_history<'name, 'platform>(
        &self,
        name: &'name str,
        platform: Option<&'platform str>,
    ) -> Result<Vec<models::HistoryResponseItem>, Error<ImageHistoryError>> {
        let local_var_configuration = &self.configuration;

        let local_var_client = &local_var_configuration.client;

        let local_var_uri_str = format!(
            "{}/images/{name}/history",
            local_var_configuration.base_path,
            name = crate::apis::urlencode(name)
        );
        let mut local_var_req_builder =
            local_var_client.request(reqwest::Method::GET, local_var_uri_str.as_str());

        if let Some(ref param_value) = platform {
            local_var_req_builder =
                local_var_req_builder.query(&[("platform", &param_value.to_string())]);
        }
        if let Some(ref local_var_user_agent) = local_var_configuration.user_agent {
            local_var_req_builder = local_var_req_builder
                .header(reqwest::header::USER_AGENT, local_var_user_agent.clone());
        }

        if let Some(timeout) = local_var_configuration.request_timeout {
            local_var_req_builder = local_var_req_builder.timeout(timeout);
        }
        let local_var_req = local_var_req_builder.build()?;
        let local_var_resp = local_var_client.execute(local_var_req).await?;

        let local_var_status = local_var_resp.status();
        let local_var_content_type = local_var_resp
            .headers()
            .get("content-type")
            .and_then(|v| v.to_str().ok())
            .unwrap_or("application/json");
        let local_var_content_type = super::ContentType::from(local_var_content_type);
        let limit = if local_var_status.is_success() {
            local_var_configuration.max_response_bytes
        } else {
            local_var_configuration.max_error_bytes
        };
        let local_var_content = super::bounded_text(local_var_resp, limit).await?;

        if local_var_status.is_success() {
            match local_var_content_type {
                ContentType::Json => serde_json::from_str(&local_var_content).map_err(Error::from),
                ContentType::Text => {
                    return Err(Error::from(serde_json::Error::custom(
                        "Received `text/plain` content type response that cannot be converted to `Vec&lt;models::HistoryResponseItem&gt;`",
                    )));
                }
                ContentType::Unsupported(local_var_unknown_type) => {
                    return Err(Error::from(serde_json::Error::custom(format!(
                        "Received `{local_var_unknown_type}` content type response that cannot be converted to `Vec&lt;models::HistoryResponseItem&gt;`"
                    ))));
                }
            }
        } else {
            let local_var_entity: Option<ImageHistoryError> =
                serde_json::from_str(&local_var_content).ok();
            let local_var_error = ResponseContent {
                status: local_var_status,
                content: local_var_content,
                entity: local_var_entity,
            };
            Err(Error::ResponseError(local_var_error))
        }
    }

    /// Return low-level information about an image.
    async fn image_inspect<'name, 'manifests>(
        &self,
        name: &'name str,
        manifests: Option<bool>,
    ) -> Result<models::ImageInspect, Error<ImageInspectError>> {
        let local_var_configuration = &self.configuration;

        let local_var_client = &local_var_configuration.client;

        let local_var_uri_str = format!(
            "{}/images/{name}/json",
            local_var_configuration.base_path,
            name = crate::apis::urlencode(name)
        );
        let mut local_var_req_builder =
            local_var_client.request(reqwest::Method::GET, local_var_uri_str.as_str());

        if let Some(ref param_value) = manifests {
            local_var_req_builder =
                local_var_req_builder.query(&[("manifests", &param_value.to_string())]);
        }
        if let Some(ref local_var_user_agent) = local_var_configuration.user_agent {
            local_var_req_builder = local_var_req_builder
                .header(reqwest::header::USER_AGENT, local_var_user_agent.clone());
        }

        if let Some(timeout) = local_var_configuration.request_timeout {
            local_var_req_builder = local_var_req_builder.timeout(timeout);
        }
        let local_var_req = local_var_req_builder.build()?;
        let local_var_resp = local_var_client.execute(local_var_req).await?;

        let local_var_status = local_var_resp.status();
        let local_var_content_type = local_var_resp
            .headers()
            .get("content-type")
            .and_then(|v| v.to_str().ok())
            .unwrap_or("application/json");
        let local_var_content_type = super::ContentType::from(local_var_content_type);
        let limit = if local_var_status.is_success() {
            local_var_configuration.max_response_bytes
        } else {
            local_var_configuration.max_error_bytes
        };
        let local_var_content = super::bounded_text(local_var_resp, limit).await?;

        if local_var_status.is_success() {
            match local_var_content_type {
                ContentType::Json => serde_json::from_str(&local_var_content).map_err(Error::from),
                ContentType::Text => {
                    return Err(Error::from(serde_json::Error::custom(
                        "Received `text/plain` content type response that cannot be converted to `models::ImageInspect`",
                    )));
                }
                ContentType::Unsupported(local_var_unknown_type) => {
                    return Err(Error::from(serde_json::Error::custom(format!(
                        "Received `{local_var_unknown_type}` content type response that cannot be converted to `models::ImageInspect`"
                    ))));
                }
            }
        } else {
            let local_var_entity: Option<ImageInspectError> =
                serde_json::from_str(&local_var_content).ok();
            let local_var_error = ResponseContent {
                status: local_var_status,
                content: local_var_content,
                entity: local_var_entity,
            };
            Err(Error::ResponseError(local_var_error))
        }
    }

    /// Returns a list of images on the server. Note that it uses a different, smaller representation of an image than inspecting a single image.
    async fn image_list<'all, 'filters, 'shared_size, 'digests, 'manifests>(
        &self,
        all: Option<bool>,
        filters: Option<&'filters str>,
        shared_size: Option<bool>,
        digests: Option<bool>,
        manifests: Option<bool>,
    ) -> Result<Vec<models::ImageSummary>, Error<ImageListError>> {
        let local_var_configuration = &self.configuration;

        let local_var_client = &local_var_configuration.client;

        let local_var_uri_str = format!("{}/images/json", local_var_configuration.base_path);
        let mut local_var_req_builder =
            local_var_client.request(reqwest::Method::GET, local_var_uri_str.as_str());

        if let Some(ref param_value) = all {
            local_var_req_builder =
                local_var_req_builder.query(&[("all", &param_value.to_string())]);
        }
        if let Some(ref param_value) = filters {
            local_var_req_builder =
                local_var_req_builder.query(&[("filters", &param_value.to_string())]);
        }
        if let Some(ref param_value) = shared_size {
            local_var_req_builder =
                local_var_req_builder.query(&[("shared-size", &param_value.to_string())]);
        }
        if let Some(ref param_value) = digests {
            local_var_req_builder =
                local_var_req_builder.query(&[("digests", &param_value.to_string())]);
        }
        if let Some(ref param_value) = manifests {
            local_var_req_builder =
                local_var_req_builder.query(&[("manifests", &param_value.to_string())]);
        }
        if let Some(ref local_var_user_agent) = local_var_configuration.user_agent {
            local_var_req_builder = local_var_req_builder
                .header(reqwest::header::USER_AGENT, local_var_user_agent.clone());
        }

        if let Some(timeout) = local_var_configuration.request_timeout {
            local_var_req_builder = local_var_req_builder.timeout(timeout);
        }
        let local_var_req = local_var_req_builder.build()?;
        let local_var_resp = local_var_client.execute(local_var_req).await?;

        let local_var_status = local_var_resp.status();
        let local_var_content_type = local_var_resp
            .headers()
            .get("content-type")
            .and_then(|v| v.to_str().ok())
            .unwrap_or("application/json");
        let local_var_content_type = super::ContentType::from(local_var_content_type);
        let limit = if local_var_status.is_success() {
            local_var_configuration.max_response_bytes
        } else {
            local_var_configuration.max_error_bytes
        };
        let local_var_content = super::bounded_text(local_var_resp, limit).await?;

        if local_var_status.is_success() {
            match local_var_content_type {
                ContentType::Json => serde_json::from_str(&local_var_content).map_err(Error::from),
                ContentType::Text => {
                    return Err(Error::from(serde_json::Error::custom(
                        "Received `text/plain` content type response that cannot be converted to `Vec&lt;models::ImageSummary&gt;`",
                    )));
                }
                ContentType::Unsupported(local_var_unknown_type) => {
                    return Err(Error::from(serde_json::Error::custom(format!(
                        "Received `{local_var_unknown_type}` content type response that cannot be converted to `Vec&lt;models::ImageSummary&gt;`"
                    ))));
                }
            }
        } else {
            let local_var_entity: Option<ImageListError> =
                serde_json::from_str(&local_var_content).ok();
            let local_var_error = ResponseContent {
                status: local_var_status,
                content: local_var_content,
                entity: local_var_entity,
            };
            Err(Error::ResponseError(local_var_error))
        }
    }

    /// Load a set of images and tags into a repository.  For details on the format, see the [export image endpoint](#operation/ImageGet).
    async fn image_load<'quiet, 'platform, 'images_tarball>(
        &self,
        quiet: Option<bool>,
        platform: Option<&'platform str>,
        images_tarball: Option<std::path::PathBuf>,
    ) -> Result<(), Error<ImageLoadError>> {
        let local_var_configuration = &self.configuration;

        let local_var_client = &local_var_configuration.client;

        let local_var_uri_str = format!("{}/images/load", local_var_configuration.base_path);
        let mut local_var_req_builder =
            local_var_client.request(reqwest::Method::POST, local_var_uri_str.as_str());

        if let Some(ref param_value) = quiet {
            local_var_req_builder =
                local_var_req_builder.query(&[("quiet", &param_value.to_string())]);
        }
        if let Some(ref param_value) = platform {
            local_var_req_builder =
                local_var_req_builder.query(&[("platform", &param_value.to_string())]);
        }
        if let Some(ref local_var_user_agent) = local_var_configuration.user_agent {
            local_var_req_builder = local_var_req_builder
                .header(reqwest::header::USER_AGENT, local_var_user_agent.clone());
        }
        local_var_req_builder = local_var_req_builder.json(&images_tarball);

        if let Some(timeout) = local_var_configuration.request_timeout {
            local_var_req_builder = local_var_req_builder.timeout(timeout);
        }
        let local_var_req = local_var_req_builder.build()?;
        let local_var_resp = local_var_client.execute(local_var_req).await?;

        let local_var_status = local_var_resp.status();
        let limit = if local_var_status.is_success() {
            local_var_configuration.max_response_bytes
        } else {
            local_var_configuration.max_error_bytes
        };
        let local_var_content = super::bounded_text(local_var_resp, limit).await?;

        if local_var_status.is_success() {
            Ok(())
        } else {
            let local_var_entity: Option<ImageLoadError> =
                serde_json::from_str(&local_var_content).ok();
            let local_var_error = ResponseContent {
                status: local_var_status,
                content: local_var_content,
                entity: local_var_entity,
            };
            Err(Error::ResponseError(local_var_error))
        }
    }

    async fn image_prune<'filters>(
        &self,
        filters: Option<&'filters str>,
    ) -> Result<models::ImagePruneResponse, Error<ImagePruneError>> {
        let local_var_configuration = &self.configuration;

        let local_var_client = &local_var_configuration.client;

        let local_var_uri_str = format!("{}/images/prune", local_var_configuration.base_path);
        let mut local_var_req_builder =
            local_var_client.request(reqwest::Method::POST, local_var_uri_str.as_str());

        if let Some(ref param_value) = filters {
            local_var_req_builder =
                local_var_req_builder.query(&[("filters", &param_value.to_string())]);
        }
        if let Some(ref local_var_user_agent) = local_var_configuration.user_agent {
            local_var_req_builder = local_var_req_builder
                .header(reqwest::header::USER_AGENT, local_var_user_agent.clone());
        }

        if let Some(timeout) = local_var_configuration.request_timeout {
            local_var_req_builder = local_var_req_builder.timeout(timeout);
        }
        let local_var_req = local_var_req_builder.build()?;
        let local_var_resp = local_var_client.execute(local_var_req).await?;

        let local_var_status = local_var_resp.status();
        let local_var_content_type = local_var_resp
            .headers()
            .get("content-type")
            .and_then(|v| v.to_str().ok())
            .unwrap_or("application/json");
        let local_var_content_type = super::ContentType::from(local_var_content_type);
        let limit = if local_var_status.is_success() {
            local_var_configuration.max_response_bytes
        } else {
            local_var_configuration.max_error_bytes
        };
        let local_var_content = super::bounded_text(local_var_resp, limit).await?;

        if local_var_status.is_success() {
            match local_var_content_type {
                ContentType::Json => serde_json::from_str(&local_var_content).map_err(Error::from),
                ContentType::Text => {
                    return Err(Error::from(serde_json::Error::custom(
                        "Received `text/plain` content type response that cannot be converted to `models::ImagePruneResponse`",
                    )));
                }
                ContentType::Unsupported(local_var_unknown_type) => {
                    return Err(Error::from(serde_json::Error::custom(format!(
                        "Received `{local_var_unknown_type}` content type response that cannot be converted to `models::ImagePruneResponse`"
                    ))));
                }
            }
        } else {
            let local_var_entity: Option<ImagePruneError> =
                serde_json::from_str(&local_var_content).ok();
            let local_var_error = ResponseContent {
                status: local_var_status,
                content: local_var_content,
                entity: local_var_entity,
            };
            Err(Error::ResponseError(local_var_error))
        }
    }

    /// Push an image to a registry.  If you wish to push an image on to a private registry, that image must already have a tag which references the registry. For example, `registry.example.com/myimage:latest`.  The push is cancelled if the HTTP connection is closed.
    async fn image_push<'name, 'x_registry_auth, 'tag, 'platform>(
        &self,
        name: &'name str,
        x_registry_auth: &'x_registry_auth str,
        tag: Option<&'tag str>,
        platform: Option<&'platform str>,
    ) -> Result<(), Error<ImagePushError>> {
        let local_var_configuration = &self.configuration;

        let local_var_client = &local_var_configuration.client;

        let local_var_uri_str = format!(
            "{}/images/{name}/push",
            local_var_configuration.base_path,
            name = crate::apis::urlencode(name)
        );
        let mut local_var_req_builder =
            local_var_client.request(reqwest::Method::POST, local_var_uri_str.as_str());

        if let Some(ref param_value) = tag {
            local_var_req_builder =
                local_var_req_builder.query(&[("tag", &param_value.to_string())]);
        }
        if let Some(ref param_value) = platform {
            local_var_req_builder =
                local_var_req_builder.query(&[("platform", &param_value.to_string())]);
        }
        if let Some(ref local_var_user_agent) = local_var_configuration.user_agent {
            local_var_req_builder = local_var_req_builder
                .header(reqwest::header::USER_AGENT, local_var_user_agent.clone());
        }
        local_var_req_builder =
            local_var_req_builder.header("X-Registry-Auth", x_registry_auth.to_string());

        if let Some(timeout) = local_var_configuration.request_timeout {
            local_var_req_builder = local_var_req_builder.timeout(timeout);
        }
        let local_var_req = local_var_req_builder.build()?;
        let local_var_resp = local_var_client.execute(local_var_req).await?;

        let local_var_status = local_var_resp.status();
        let limit = if local_var_status.is_success() {
            local_var_configuration.max_response_bytes
        } else {
            local_var_configuration.max_error_bytes
        };
        let local_var_content = super::bounded_text(local_var_resp, limit).await?;

        if local_var_status.is_success() {
            Ok(())
        } else {
            let local_var_entity: Option<ImagePushError> =
                serde_json::from_str(&local_var_content).ok();
            let local_var_error = ResponseContent {
                status: local_var_status,
                content: local_var_content,
                entity: local_var_entity,
            };
            Err(Error::ResponseError(local_var_error))
        }
    }

    /// Search for an image on Docker Hub.
    async fn image_search<'term, 'limit, 'filters>(
        &self,
        term: &'term str,
        limit: Option<i32>,
        filters: Option<&'filters str>,
    ) -> Result<Vec<models::ImageSearchResponseItem>, Error<ImageSearchError>> {
        let local_var_configuration = &self.configuration;

        let local_var_client = &local_var_configuration.client;

        let local_var_uri_str = format!("{}/images/search", local_var_configuration.base_path);
        let mut local_var_req_builder =
            local_var_client.request(reqwest::Method::GET, local_var_uri_str.as_str());

        local_var_req_builder = local_var_req_builder.query(&[("term", &term.to_string())]);
        if let Some(ref param_value) = limit {
            local_var_req_builder =
                local_var_req_builder.query(&[("limit", &param_value.to_string())]);
        }
        if let Some(ref param_value) = filters {
            local_var_req_builder =
                local_var_req_builder.query(&[("filters", &param_value.to_string())]);
        }
        if let Some(ref local_var_user_agent) = local_var_configuration.user_agent {
            local_var_req_builder = local_var_req_builder
                .header(reqwest::header::USER_AGENT, local_var_user_agent.clone());
        }

        if let Some(timeout) = local_var_configuration.request_timeout {
            local_var_req_builder = local_var_req_builder.timeout(timeout);
        }
        let local_var_req = local_var_req_builder.build()?;
        let local_var_resp = local_var_client.execute(local_var_req).await?;

        let local_var_status = local_var_resp.status();
        let local_var_content_type = local_var_resp
            .headers()
            .get("content-type")
            .and_then(|v| v.to_str().ok())
            .unwrap_or("application/json");
        let local_var_content_type = super::ContentType::from(local_var_content_type);
        let limit = if local_var_status.is_success() {
            local_var_configuration.max_response_bytes
        } else {
            local_var_configuration.max_error_bytes
        };
        let local_var_content = super::bounded_text(local_var_resp, limit).await?;

        if local_var_status.is_success() {
            match local_var_content_type {
                ContentType::Json => serde_json::from_str(&local_var_content).map_err(Error::from),
                ContentType::Text => {
                    return Err(Error::from(serde_json::Error::custom(
                        "Received `text/plain` content type response that cannot be converted to `Vec&lt;models::ImageSearchResponseItem&gt;`",
                    )));
                }
                ContentType::Unsupported(local_var_unknown_type) => {
                    return Err(Error::from(serde_json::Error::custom(format!(
                        "Received `{local_var_unknown_type}` content type response that cannot be converted to `Vec&lt;models::ImageSearchResponseItem&gt;`"
                    ))));
                }
            }
        } else {
            let local_var_entity: Option<ImageSearchError> =
                serde_json::from_str(&local_var_content).ok();
            let local_var_error = ResponseContent {
                status: local_var_status,
                content: local_var_content,
                entity: local_var_entity,
            };
            Err(Error::ResponseError(local_var_error))
        }
    }

    /// Tag an image so that it becomes part of a repository.
    async fn image_tag<'name, 'repo, 'tag>(
        &self,
        name: &'name str,
        repo: Option<&'repo str>,
        tag: Option<&'tag str>,
    ) -> Result<(), Error<ImageTagError>> {
        let local_var_configuration = &self.configuration;

        let local_var_client = &local_var_configuration.client;

        let local_var_uri_str = format!(
            "{}/images/{name}/tag",
            local_var_configuration.base_path,
            name = crate::apis::urlencode(name)
        );
        let mut local_var_req_builder =
            local_var_client.request(reqwest::Method::POST, local_var_uri_str.as_str());

        if let Some(ref param_value) = repo {
            local_var_req_builder =
                local_var_req_builder.query(&[("repo", &param_value.to_string())]);
        }
        if let Some(ref param_value) = tag {
            local_var_req_builder =
                local_var_req_builder.query(&[("tag", &param_value.to_string())]);
        }
        if let Some(ref local_var_user_agent) = local_var_configuration.user_agent {
            local_var_req_builder = local_var_req_builder
                .header(reqwest::header::USER_AGENT, local_var_user_agent.clone());
        }

        if let Some(timeout) = local_var_configuration.request_timeout {
            local_var_req_builder = local_var_req_builder.timeout(timeout);
        }
        let local_var_req = local_var_req_builder.build()?;
        let local_var_resp = local_var_client.execute(local_var_req).await?;

        let local_var_status = local_var_resp.status();
        let limit = if local_var_status.is_success() {
            local_var_configuration.max_response_bytes
        } else {
            local_var_configuration.max_error_bytes
        };
        let local_var_content = super::bounded_text(local_var_resp, limit).await?;

        if local_var_status.is_success() {
            Ok(())
        } else {
            let local_var_entity: Option<ImageTagError> =
                serde_json::from_str(&local_var_content).ok();
            let local_var_error = ResponseContent {
                status: local_var_status,
                content: local_var_content,
                entity: local_var_entity,
            };
            Err(Error::ResponseError(local_var_error))
        }
    }
}

/// struct for typed errors of method [`ImageApi::build_prune`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum BuildPruneError {
    Status500(models::ErrorResponse),
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`ImageApi::image_build`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum ImageBuildError {
    Status400(models::ErrorResponse),
    Status500(models::ErrorResponse),
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`ImageApi::image_commit`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum ImageCommitError {
    Status404(models::ErrorResponse),
    Status500(models::ErrorResponse),
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`ImageApi::image_create`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum ImageCreateError {
    Status404(models::ErrorResponse),
    Status500(models::ErrorResponse),
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`ImageApi::image_delete`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum ImageDeleteError {
    Status404(models::ErrorResponse),
    Status409(models::ErrorResponse),
    Status500(models::ErrorResponse),
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`ImageApi::image_get`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum ImageGetError {
    Status500(models::ErrorResponse),
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`ImageApi::image_get_all`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum ImageGetAllError {
    Status500(models::ErrorResponse),
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`ImageApi::image_history`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum ImageHistoryError {
    Status404(models::ErrorResponse),
    Status500(models::ErrorResponse),
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`ImageApi::image_inspect`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum ImageInspectError {
    Status404(models::ErrorResponse),
    Status500(models::ErrorResponse),
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`ImageApi::image_list`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum ImageListError {
    Status500(models::ErrorResponse),
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`ImageApi::image_load`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum ImageLoadError {
    Status500(models::ErrorResponse),
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`ImageApi::image_prune`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum ImagePruneError {
    Status500(models::ErrorResponse),
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`ImageApi::image_push`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum ImagePushError {
    Status404(models::ErrorResponse),
    Status500(models::ErrorResponse),
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`ImageApi::image_search`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum ImageSearchError {
    Status500(models::ErrorResponse),
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`ImageApi::image_tag`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum ImageTagError {
    Status400(models::ErrorResponse),
    Status404(models::ErrorResponse),
    Status409(models::ErrorResponse),
    Status500(models::ErrorResponse),
    UnknownValue(serde_json::Value),
}
