/*
 * Docker Engine API
 *
 * The Engine API is an HTTP API served by Docker Engine. It is the API the Docker client uses to communicate with the Engine, so everything the Docker client can do can be done with the API.  Most of the client's commands map directly to API endpoints (e.g. `docker ps` is `GET /containers/json`). The notable exception is running containers, which consists of several API calls.  # Errors  The API uses standard HTTP status codes to indicate the success or failure of the API call. The body of the response will be JSON in the following format:  ``` {   \"message\": \"page not found\" } ```  # Versioning  The API is usually changed in each release, so API calls are versioned to ensure that clients don't break. To lock to a specific version of the API, you prefix the URL with its version, for example, call `/v1.30/info` to use the v1.30 version of the `/info` endpoint. If the API version specified in the URL is not supported by the daemon, a HTTP `400 Bad Request` error message is returned.  If you omit the version-prefix, the current version of the API (v1.49) is used. For example, calling `/info` is the same as calling `/v1.49/info`. Using the API without a version-prefix is deprecated and will be removed in a future release.  Engine releases in the near future should support this version of the API, so your client will continue to work even if it is talking to a newer Engine.  The API uses an open schema model, which means the server may add extra properties to responses. Likewise, the server will ignore any extra query parameters and request body properties. When you write clients, you need to ignore additional properties in responses to ensure they do not break when talking to newer daemons.   # Authentication  Authentication for registries is handled client side. The client has to send authentication details to various endpoints that need to communicate with registries, such as `POST /images/(name)/push`. These are sent as `X-Registry-Auth` header as a [base64url encoded](https://tools.ietf.org/html/rfc4648#section-5) (JSON) string with the following structure:  ``` {   \"username\": \"string\",   \"password\": \"string\",   \"email\": \"string\",   \"serveraddress\": \"string\" } ```  The `serveraddress` is a domain/IP without a protocol. Throughout this structure, double quotes are required.  If you have already got an identity token from the [`/auth` endpoint](#operation/SystemAuth), you can just pass this instead of credentials:  ``` {   \"identitytoken\": \"9cbaf023786cd7...\" } ```
 *
 * The version of the OpenAPI document: 1.49
 *
 * Generated by: https://openapi-generator.tech
 */

use super::{Error, configuration};
use crate::apis::ContentType;
use crate::apis::ResponseContent;
use crate::models;
use async_trait::async_trait;
use reqwest;
use serde::{Deserialize, Serialize, de::Error as _};
use std::sync::Arc;

#[async_trait]
pub trait PluginApi: Send + Sync {
    /// GET /plugins/privileges
    ///
    ///
    async fn get_plugin_privileges<'remote>(
        &self,
        remote: &'remote str,
    ) -> Result<Vec<models::PluginPrivilege>, Error<GetPluginPrivilegesError>>;

    /// POST /plugins/create
    ///
    ///
    async fn plugin_create<'name, 'tar_context>(
        &self,
        name: &'name str,
        tar_context: Option<std::path::PathBuf>,
    ) -> Result<(), Error<PluginCreateError>>;

    /// DELETE /plugins/{name}
    ///
    ///
    async fn plugin_delete<'name, 'force>(
        &self,
        name: &'name str,
        force: Option<bool>,
    ) -> Result<models::Plugin, Error<PluginDeleteError>>;

    /// POST /plugins/{name}/disable
    ///
    ///
    async fn plugin_disable<'name, 'force>(
        &self,
        name: &'name str,
        force: Option<bool>,
    ) -> Result<(), Error<PluginDisableError>>;

    /// POST /plugins/{name}/enable
    ///
    ///
    async fn plugin_enable<'name, 'timeout>(
        &self,
        name: &'name str,
        timeout: Option<i32>,
    ) -> Result<(), Error<PluginEnableError>>;

    /// GET /plugins/{name}/json
    ///
    ///
    async fn plugin_inspect<'name>(
        &self,
        name: &'name str,
    ) -> Result<models::Plugin, Error<PluginInspectError>>;

    /// GET /plugins
    ///
    /// Returns information about installed plugins.
    async fn plugin_list<'filters>(
        &self,
        filters: Option<&'filters str>,
    ) -> Result<Vec<models::Plugin>, Error<PluginListError>>;

    /// POST /plugins/pull
    ///
    /// Pulls and installs a plugin. After the plugin is installed, it can be enabled using the [`POST /plugins/{name}/enable` endpoint](#operation/PostPluginsEnable).
    async fn plugin_pull<'remote, 'name, 'x_registry_auth, 'body>(
        &self,
        remote: &'remote str,
        name: Option<&'name str>,
        x_registry_auth: Option<&'x_registry_auth str>,
        body: Option<Vec<models::PluginPrivilege>>,
    ) -> Result<(), Error<PluginPullError>>;

    /// POST /plugins/{name}/push
    ///
    /// Push a plugin to the registry.
    async fn plugin_push<'name>(&self, name: &'name str) -> Result<(), Error<PluginPushError>>;

    /// POST /plugins/{name}/set
    ///
    ///
    async fn plugin_set<'name, 'body>(
        &self,
        name: &'name str,
        body: Option<Vec<String>>,
    ) -> Result<(), Error<PluginSetError>>;

    /// POST /plugins/{name}/upgrade
    ///
    ///
    async fn plugin_upgrade<'name, 'remote, 'x_registry_auth, 'body>(
        &self,
        name: &'name str,
        remote: &'remote str,
        x_registry_auth: Option<&'x_registry_auth str>,
        body: Option<Vec<models::PluginPrivilege>>,
    ) -> Result<(), Error<PluginUpgradeError>>;
}

pub struct PluginApiClient {
    configuration: Arc<configuration::Configuration>,
}

impl PluginApiClient {
    pub fn new(configuration: Arc<configuration::Configuration>) -> Self {
        Self { configuration }
    }
}

#[async_trait]
impl PluginApi for PluginApiClient {
    async fn get_plugin_privileges<'remote>(
        &self,
        remote: &'remote str,
    ) -> Result<Vec<models::PluginPrivilege>, Error<GetPluginPrivilegesError>> {
        let local_var_configuration = &self.configuration;

        let local_var_client = &local_var_configuration.client;

        let local_var_uri_str = format!("{}/plugins/privileges", local_var_configuration.base_path);
        let mut local_var_req_builder =
            local_var_client.request(reqwest::Method::GET, local_var_uri_str.as_str());

        local_var_req_builder = local_var_req_builder.query(&[("remote", &remote.to_string())]);
        if let Some(ref local_var_user_agent) = local_var_configuration.user_agent {
            local_var_req_builder = local_var_req_builder
                .header(reqwest::header::USER_AGENT, local_var_user_agent.clone());
        }

        if let Some(timeout) = local_var_configuration.request_timeout {
            local_var_req_builder = local_var_req_builder.timeout(timeout);
        }
        let local_var_req = local_var_req_builder.build()?;
        let local_var_resp = local_var_client.execute(local_var_req).await?;

        let local_var_status = local_var_resp.status();
        let local_var_content_type = local_var_resp
            .headers()
            .get("content-type")
            .and_then(|v| v.to_str().ok())
            .unwrap_or("application/json");
        let local_var_content_type = super::ContentType::from(local_var_content_type);
        let limit = if local_var_status.is_success() {
            local_var_configuration.max_response_bytes
        } else {
            local_var_configuration.max_error_bytes
        };
        let local_var_content = super::bounded_text(local_var_resp, limit).await?;

        if local_var_status.is_success() {
            match local_var_content_type {
                ContentType::Json => serde_json::from_str(&local_var_content).map_err(Error::from),
                ContentType::Text => {
                    return Err(Error::from(serde_json::Error::custom(
                        "Received `text/plain` content type response that cannot be converted to `Vec&lt;models::PluginPrivilege&gt;`",
                    )));
                }
                ContentType::Unsupported(local_var_unknown_type) => {
                    return Err(Error::from(serde_json::Error::custom(format!(
                        "Received `{local_var_unknown_type}` content type response that cannot be converted to `Vec&lt;models::PluginPrivilege&gt;`"
                    ))));
                }
            }
        } else {
            let local_var_entity: Option<GetPluginPrivilegesError> =
                serde_json::from_str(&local_var_content).ok();
            let local_var_error = ResponseContent {
                status: local_var_status,
                content: local_var_content,
                entity: local_var_entity,
            };
            Err(Error::ResponseError(local_var_error))
        }
    }

    async fn plugin_create<'name, 'tar_context>(
        &self,
        name: &'name str,
        tar_context: Option<std::path::PathBuf>,
    ) -> Result<(), Error<PluginCreateError>> {
        let local_var_configuration = &self.configuration;

        let local_var_client = &local_var_configuration.client;

        let local_var_uri_str = format!("{}/plugins/create", local_var_configuration.base_path);
        let mut local_var_req_builder =
            local_var_client.request(reqwest::Method::POST, local_var_uri_str.as_str());

        local_var_req_builder = local_var_req_builder.query(&[("name", &name.to_string())]);
        if let Some(ref local_var_user_agent) = local_var_configuration.user_agent {
            local_var_req_builder = local_var_req_builder
                .header(reqwest::header::USER_AGENT, local_var_user_agent.clone());
        }
        local_var_req_builder = local_var_req_builder.json(&tar_context);

        if let Some(timeout) = local_var_configuration.request_timeout {
            local_var_req_builder = local_var_req_builder.timeout(timeout);
        }
        let local_var_req = local_var_req_builder.build()?;
        let local_var_resp = local_var_client.execute(local_var_req).await?;

        let local_var_status = local_var_resp.status();
        let limit = if local_var_status.is_success() {
            local_var_configuration.max_response_bytes
        } else {
            local_var_configuration.max_error_bytes
        };
        let local_var_content = super::bounded_text(local_var_resp, limit).await?;

        if local_var_status.is_success() {
            Ok(())
        } else {
            let local_var_entity: Option<PluginCreateError> =
                serde_json::from_str(&local_var_content).ok();
            let local_var_error = ResponseContent {
                status: local_var_status,
                content: local_var_content,
                entity: local_var_entity,
            };
            Err(Error::ResponseError(local_var_error))
        }
    }

    async fn plugin_delete<'name, 'force>(
        &self,
        name: &'name str,
        force: Option<bool>,
    ) -> Result<models::Plugin, Error<PluginDeleteError>> {
        let local_var_configuration = &self.configuration;

        let local_var_client = &local_var_configuration.client;

        let local_var_uri_str = format!(
            "{}/plugins/{name}",
            local_var_configuration.base_path,
            name = crate::apis::urlencode(name)
        );
        let mut local_var_req_builder =
            local_var_client.request(reqwest::Method::DELETE, local_var_uri_str.as_str());

        if let Some(ref param_value) = force {
            local_var_req_builder =
                local_var_req_builder.query(&[("force", &param_value.to_string())]);
        }
        if let Some(ref local_var_user_agent) = local_var_configuration.user_agent {
            local_var_req_builder = local_var_req_builder
                .header(reqwest::header::USER_AGENT, local_var_user_agent.clone());
        }

        if let Some(timeout) = local_var_configuration.request_timeout {
            local_var_req_builder = local_var_req_builder.timeout(timeout);
        }
        let local_var_req = local_var_req_builder.build()?;
        let local_var_resp = local_var_client.execute(local_var_req).await?;

        let local_var_status = local_var_resp.status();
        let local_var_content_type = local_var_resp
            .headers()
            .get("content-type")
            .and_then(|v| v.to_str().ok())
            .unwrap_or("application/json");
        let local_var_content_type = super::ContentType::from(local_var_content_type);
        let limit = if local_var_status.is_success() {
            local_var_configuration.max_response_bytes
        } else {
            local_var_configuration.max_error_bytes
        };
        let local_var_content = super::bounded_text(local_var_resp, limit).await?;

        if local_var_status.is_success() {
            match local_var_content_type {
                ContentType::Json => serde_json::from_str(&local_var_content).map_err(Error::from),
                ContentType::Text => {
                    return Err(Error::from(serde_json::Error::custom(
                        "Received `text/plain` content type response that cannot be converted to `models::Plugin`",
                    )));
                }
                ContentType::Unsupported(local_var_unknown_type) => {
                    return Err(Error::from(serde_json::Error::custom(format!(
                        "Received `{local_var_unknown_type}` content type response that cannot be converted to `models::Plugin`"
                    ))));
                }
            }
        } else {
            let local_var_entity: Option<PluginDeleteError> =
                serde_json::from_str(&local_var_content).ok();
            let local_var_error = ResponseContent {
                status: local_var_status,
                content: local_var_content,
                entity: local_var_entity,
            };
            Err(Error::ResponseError(local_var_error))
        }
    }

    async fn plugin_disable<'name, 'force>(
        &self,
        name: &'name str,
        force: Option<bool>,
    ) -> Result<(), Error<PluginDisableError>> {
        let local_var_configuration = &self.configuration;

        let local_var_client = &local_var_configuration.client;

        let local_var_uri_str = format!(
            "{}/plugins/{name}/disable",
            local_var_configuration.base_path,
            name = crate::apis::urlencode(name)
        );
        let mut local_var_req_builder =
            local_var_client.request(reqwest::Method::POST, local_var_uri_str.as_str());

        if let Some(ref param_value) = force {
            local_var_req_builder =
                local_var_req_builder.query(&[("force", &param_value.to_string())]);
        }
        if let Some(ref local_var_user_agent) = local_var_configuration.user_agent {
            local_var_req_builder = local_var_req_builder
                .header(reqwest::header::USER_AGENT, local_var_user_agent.clone());
        }

        if let Some(timeout) = local_var_configuration.request_timeout {
            local_var_req_builder = local_var_req_builder.timeout(timeout);
        }
        let local_var_req = local_var_req_builder.build()?;
        let local_var_resp = local_var_client.execute(local_var_req).await?;

        let local_var_status = local_var_resp.status();
        let limit = if local_var_status.is_success() {
            local_var_configuration.max_response_bytes
        } else {
            local_var_configuration.max_error_bytes
        };
        let local_var_content = super::bounded_text(local_var_resp, limit).await?;

        if local_var_status.is_success() {
            Ok(())
        } else {
            let local_var_entity: Option<PluginDisableError> =
                serde_json::from_str(&local_var_content).ok();
            let local_var_error = ResponseContent {
                status: local_var_status,
                content: local_var_content,
                entity: local_var_entity,
            };
            Err(Error::ResponseError(local_var_error))
        }
    }

    async fn plugin_enable<'name, 'timeout>(
        &self,
        name: &'name str,
        timeout: Option<i32>,
    ) -> Result<(), Error<PluginEnableError>> {
        let local_var_configuration = &self.configuration;

        let local_var_client = &local_var_configuration.client;

        let local_var_uri_str = format!(
            "{}/plugins/{name}/enable",
            local_var_configuration.base_path,
            name = crate::apis::urlencode(name)
        );
        let mut local_var_req_builder =
            local_var_client.request(reqwest::Method::POST, local_var_uri_str.as_str());

        if let Some(ref param_value) = timeout {
            local_var_req_builder =
                local_var_req_builder.query(&[("timeout", &param_value.to_string())]);
        }
        if let Some(ref local_var_user_agent) = local_var_configuration.user_agent {
            local_var_req_builder = local_var_req_builder
                .header(reqwest::header::USER_AGENT, local_var_user_agent.clone());
        }

        if let Some(timeout) = local_var_configuration.request_timeout {
            local_var_req_builder = local_var_req_builder.timeout(timeout);
        }
        let local_var_req = local_var_req_builder.build()?;
        let local_var_resp = local_var_client.execute(local_var_req).await?;

        let local_var_status = local_var_resp.status();
        let limit = if local_var_status.is_success() {
            local_var_configuration.max_response_bytes
        } else {
            local_var_configuration.max_error_bytes
        };
        let local_var_content = super::bounded_text(local_var_resp, limit).await?;

        if local_var_status.is_success() {
            Ok(())
        } else {
            let local_var_entity: Option<PluginEnableError> =
                serde_json::from_str(&local_var_content).ok();
            let local_var_error = ResponseContent {
                status: local_var_status,
                content: local_var_content,
                entity: local_var_entity,
            };
            Err(Error::ResponseError(local_var_error))
        }
    }

    async fn plugin_inspect<'name>(
        &self,
        name: &'name str,
    ) -> Result<models::Plugin, Error<PluginInspectError>> {
        let local_var_configuration = &self.configuration;

        let local_var_client = &local_var_configuration.client;

        let local_var_uri_str = format!(
            "{}/plugins/{name}/json",
            local_var_configuration.base_path,
            name = crate::apis::urlencode(name)
        );
        let mut local_var_req_builder =
            local_var_client.request(reqwest::Method::GET, local_var_uri_str.as_str());

        if let Some(ref local_var_user_agent) = local_var_configuration.user_agent {
            local_var_req_builder = local_var_req_builder
                .header(reqwest::header::USER_AGENT, local_var_user_agent.clone());
        }

        if let Some(timeout) = local_var_configuration.request_timeout {
            local_var_req_builder = local_var_req_builder.timeout(timeout);
        }
        let local_var_req = local_var_req_builder.build()?;
        let local_var_resp = local_var_client.execute(local_var_req).await?;

        let local_var_status = local_var_resp.status();
        let local_var_content_type = local_var_resp
            .headers()
            .get("content-type")
            .and_then(|v| v.to_str().ok())
            .unwrap_or("application/json");
        let local_var_content_type = super::ContentType::from(local_var_content_type);
        let limit = if local_var_status.is_success() {
            local_var_configuration.max_response_bytes
        } else {
            local_var_configuration.max_error_bytes
        };
        let local_var_content = super::bounded_text(local_var_resp, limit).await?;

        if local_var_status.is_success() {
            match local_var_content_type {
                ContentType::Json => serde_json::from_str(&local_var_content).map_err(Error::from),
                ContentType::Text => {
                    return Err(Error::from(serde_json::Error::custom(
                        "Received `text/plain` content type response that cannot be converted to `models::Plugin`",
                    )));
                }
                ContentType::Unsupported(local_var_unknown_type) => {
                    return Err(Error::from(serde_json::Error::custom(format!(
                        "Received `{local_var_unknown_type}` content type response that cannot be converted to `models::Plugin`"
                    ))));
                }
            }
        } else {
            let local_var_entity: Option<PluginInspectError> =
                serde_json::from_str(&local_var_content).ok();
            let local_var_error = ResponseContent {
                status: local_var_status,
                content: local_var_content,
                entity: local_var_entity,
            };
            Err(Error::ResponseError(local_var_error))
        }
    }

    /// Returns information about installed plugins.
    async fn plugin_list<'filters>(
        &self,
        filters: Option<&'filters str>,
    ) -> Result<Vec<models::Plugin>, Error<PluginListError>> {
        let local_var_configuration = &self.configuration;

        let local_var_client = &local_var_configuration.client;

        let local_var_uri_str = format!("{}/plugins", local_var_configuration.base_path);
        let mut local_var_req_builder =
            local_var_client.request(reqwest::Method::GET, local_var_uri_str.as_str());

        if let Some(ref param_value) = filters {
            local_var_req_builder =
                local_var_req_builder.query(&[("filters", &param_value.to_string())]);
        }
        if let Some(ref local_var_user_agent) = local_var_configuration.user_agent {
            local_var_req_builder = local_var_req_builder
                .header(reqwest::header::USER_AGENT, local_var_user_agent.clone());
        }

        if let Some(timeout) = local_var_configuration.request_timeout {
            local_var_req_builder = local_var_req_builder.timeout(timeout);
        }
        let local_var_req = local_var_req_builder.build()?;
        let local_var_resp = local_var_client.execute(local_var_req).await?;

        let local_var_status = local_var_resp.status();
        let local_var_content_type = local_var_resp
            .headers()
            .get("content-type")
            .and_then(|v| v.to_str().ok())
            .unwrap_or("application/json");
        let local_var_content_type = super::ContentType::from(local_var_content_type);
        let limit = if local_var_status.is_success() {
            local_var_configuration.max_response_bytes
        } else {
            local_var_configuration.max_error_bytes
        };
        let local_var_content = super::bounded_text(local_var_resp, limit).await?;

        if local_var_status.is_success() {
            match local_var_content_type {
                ContentType::Json => serde_json::from_str(&local_var_content).map_err(Error::from),
                ContentType::Text => {
                    return Err(Error::from(serde_json::Error::custom(
                        "Received `text/plain` content type response that cannot be converted to `Vec&lt;models::Plugin&gt;`",
                    )));
                }
                ContentType::Unsupported(local_var_unknown_type) => {
                    return Err(Error::from(serde_json::Error::custom(format!(
                        "Received `{local_var_unknown_type}` content type response that cannot be converted to `Vec&lt;models::Plugin&gt;`"
                    ))));
                }
            }
        } else {
            let local_var_entity: Option<PluginListError> =
                serde_json::from_str(&local_var_content).ok();
            let local_var_error = ResponseContent {
                status: local_var_status,
                content: local_var_content,
                entity: local_var_entity,
            };
            Err(Error::ResponseError(local_var_error))
        }
    }

    /// Pulls and installs a plugin. After the plugin is installed, it can be enabled using the [`POST /plugins/{name}/enable` endpoint](#operation/PostPluginsEnable).
    async fn plugin_pull<'remote, 'name, 'x_registry_auth, 'body>(
        &self,
        remote: &'remote str,
        name: Option<&'name str>,
        x_registry_auth: Option<&'x_registry_auth str>,
        body: Option<Vec<models::PluginPrivilege>>,
    ) -> Result<(), Error<PluginPullError>> {
        let local_var_configuration = &self.configuration;

        let local_var_client = &local_var_configuration.client;

        let local_var_uri_str = format!("{}/plugins/pull", local_var_configuration.base_path);
        let mut local_var_req_builder =
            local_var_client.request(reqwest::Method::POST, local_var_uri_str.as_str());

        local_var_req_builder = local_var_req_builder.query(&[("remote", &remote.to_string())]);
        if let Some(ref param_value) = name {
            local_var_req_builder =
                local_var_req_builder.query(&[("name", &param_value.to_string())]);
        }
        if let Some(ref local_var_user_agent) = local_var_configuration.user_agent {
            local_var_req_builder = local_var_req_builder
                .header(reqwest::header::USER_AGENT, local_var_user_agent.clone());
        }
        if let Some(local_var_param_value) = x_registry_auth {
            local_var_req_builder =
                local_var_req_builder.header("X-Registry-Auth", local_var_param_value.to_string());
        }
        local_var_req_builder = local_var_req_builder.json(&body);

        if let Some(timeout) = local_var_configuration.request_timeout {
            local_var_req_builder = local_var_req_builder.timeout(timeout);
        }
        let local_var_req = local_var_req_builder.build()?;
        let local_var_resp = local_var_client.execute(local_var_req).await?;

        let local_var_status = local_var_resp.status();
        let limit = if local_var_status.is_success() {
            local_var_configuration.max_response_bytes
        } else {
            local_var_configuration.max_error_bytes
        };
        let local_var_content = super::bounded_text(local_var_resp, limit).await?;

        if local_var_status.is_success() {
            Ok(())
        } else {
            let local_var_entity: Option<PluginPullError> =
                serde_json::from_str(&local_var_content).ok();
            let local_var_error = ResponseContent {
                status: local_var_status,
                content: local_var_content,
                entity: local_var_entity,
            };
            Err(Error::ResponseError(local_var_error))
        }
    }

    /// Push a plugin to the registry.
    async fn plugin_push<'name>(&self, name: &'name str) -> Result<(), Error<PluginPushError>> {
        let local_var_configuration = &self.configuration;

        let local_var_client = &local_var_configuration.client;

        let local_var_uri_str = format!(
            "{}/plugins/{name}/push",
            local_var_configuration.base_path,
            name = crate::apis::urlencode(name)
        );
        let mut local_var_req_builder =
            local_var_client.request(reqwest::Method::POST, local_var_uri_str.as_str());

        if let Some(ref local_var_user_agent) = local_var_configuration.user_agent {
            local_var_req_builder = local_var_req_builder
                .header(reqwest::header::USER_AGENT, local_var_user_agent.clone());
        }

        if let Some(timeout) = local_var_configuration.request_timeout {
            local_var_req_builder = local_var_req_builder.timeout(timeout);
        }
        let local_var_req = local_var_req_builder.build()?;
        let local_var_resp = local_var_client.execute(local_var_req).await?;

        let local_var_status = local_var_resp.status();
        let limit = if local_var_status.is_success() {
            local_var_configuration.max_response_bytes
        } else {
            local_var_configuration.max_error_bytes
        };
        let local_var_content = super::bounded_text(local_var_resp, limit).await?;

        if local_var_status.is_success() {
            Ok(())
        } else {
            let local_var_entity: Option<PluginPushError> =
                serde_json::from_str(&local_var_content).ok();
            let local_var_error = ResponseContent {
                status: local_var_status,
                content: local_var_content,
                entity: local_var_entity,
            };
            Err(Error::ResponseError(local_var_error))
        }
    }

    async fn plugin_set<'name, 'body>(
        &self,
        name: &'name str,
        body: Option<Vec<String>>,
    ) -> Result<(), Error<PluginSetError>> {
        let local_var_configuration = &self.configuration;

        let local_var_client = &local_var_configuration.client;

        let local_var_uri_str = format!(
            "{}/plugins/{name}/set",
            local_var_configuration.base_path,
            name = crate::apis::urlencode(name)
        );
        let mut local_var_req_builder =
            local_var_client.request(reqwest::Method::POST, local_var_uri_str.as_str());

        if let Some(ref local_var_user_agent) = local_var_configuration.user_agent {
            local_var_req_builder = local_var_req_builder
                .header(reqwest::header::USER_AGENT, local_var_user_agent.clone());
        }
        local_var_req_builder = local_var_req_builder.json(&body);

        if let Some(timeout) = local_var_configuration.request_timeout {
            local_var_req_builder = local_var_req_builder.timeout(timeout);
        }
        let local_var_req = local_var_req_builder.build()?;
        let local_var_resp = local_var_client.execute(local_var_req).await?;

        let local_var_status = local_var_resp.status();
        let limit = if local_var_status.is_success() {
            local_var_configuration.max_response_bytes
        } else {
            local_var_configuration.max_error_bytes
        };
        let local_var_content = super::bounded_text(local_var_resp, limit).await?;

        if local_var_status.is_success() {
            Ok(())
        } else {
            let local_var_entity: Option<PluginSetError> =
                serde_json::from_str(&local_var_content).ok();
            let local_var_error = ResponseContent {
                status: local_var_status,
                content: local_var_content,
                entity: local_var_entity,
            };
            Err(Error::ResponseError(local_var_error))
        }
    }

    async fn plugin_upgrade<'name, 'remote, 'x_registry_auth, 'body>(
        &self,
        name: &'name str,
        remote: &'remote str,
        x_registry_auth: Option<&'x_registry_auth str>,
        body: Option<Vec<models::PluginPrivilege>>,
    ) -> Result<(), Error<PluginUpgradeError>> {
        let local_var_configuration = &self.configuration;

        let local_var_client = &local_var_configuration.client;

        let local_var_uri_str = format!(
            "{}/plugins/{name}/upgrade",
            local_var_configuration.base_path,
            name = crate::apis::urlencode(name)
        );
        let mut local_var_req_builder =
            local_var_client.request(reqwest::Method::POST, local_var_uri_str.as_str());

        local_var_req_builder = local_var_req_builder.query(&[("remote", &remote.to_string())]);
        if let Some(ref local_var_user_agent) = local_var_configuration.user_agent {
            local_var_req_builder = local_var_req_builder
                .header(reqwest::header::USER_AGENT, local_var_user_agent.clone());
        }
        if let Some(local_var_param_value) = x_registry_auth {
            local_var_req_builder =
                local_var_req_builder.header("X-Registry-Auth", local_var_param_value.to_string());
        }
        local_var_req_builder = local_var_req_builder.json(&body);

        if let Some(timeout) = local_var_configuration.request_timeout {
            local_var_req_builder = local_var_req_builder.timeout(timeout);
        }
        let local_var_req = local_var_req_builder.build()?;
        let local_var_resp = local_var_client.execute(local_var_req).await?;

        let local_var_status = local_var_resp.status();
        let limit = if local_var_status.is_success() {
            local_var_configuration.max_response_bytes
        } else {
            local_var_configuration.max_error_bytes
        };
        let local_var_content = super::bounded_text(local_var_resp, limit).await?;

        if local_var_status.is_success() {
            Ok(())
        } else {
            let local_var_entity: Option<PluginUpgradeError> =
                serde_json::from_str(&local_var_content).ok();
            let local_var_error = ResponseContent {
                status: local_var_status,
                content: local_var_content,
                entity: local_var_entity,
            };
            Err(Error::ResponseError(local_var_error))
        }
    }
}

/// struct for typed errors of method [`PluginApi::get_plugin_privileges`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum GetPluginPrivilegesError {
    Status500(models::ErrorResponse),
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`PluginApi::plugin_create`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum PluginCreateError {
    Status500(models::ErrorResponse),
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`PluginApi::plugin_delete`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum PluginDeleteError {
    Status404(models::ErrorResponse),
    Status500(models::ErrorResponse),
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`PluginApi::plugin_disable`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum PluginDisableError {
    Status404(models::ErrorResponse),
    Status500(models::ErrorResponse),
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`PluginApi::plugin_enable`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum PluginEnableError {
    Status404(models::ErrorResponse),
    Status500(models::ErrorResponse),
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`PluginApi::plugin_inspect`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum PluginInspectError {
    Status404(models::ErrorResponse),
    Status500(models::ErrorResponse),
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`PluginApi::plugin_list`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum PluginListError {
    Status500(models::ErrorResponse),
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`PluginApi::plugin_pull`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum PluginPullError {
    Status500(models::ErrorResponse),
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`PluginApi::plugin_push`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum PluginPushError {
    Status404(models::ErrorResponse),
    Status500(models::ErrorResponse),
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`PluginApi::plugin_set`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum PluginSetError {
    Status404(models::ErrorResponse),
    Status500(models::ErrorResponse),
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`PluginApi::plugin_upgrade`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum PluginUpgradeError {
    Status404(models::ErrorResponse),
    Status500(models::ErrorResponse),
    UnknownValue(serde_json::Value),
}
