/*
 * Docker Engine API
 *
 * The Engine API is an HTTP API served by Docker Engine. It is the API the Docker client uses to communicate with the Engine, so everything the Docker client can do can be done with the API.  Most of the client's commands map directly to API endpoints (e.g. `docker ps` is `GET /containers/json`). The notable exception is running containers, which consists of several API calls.  # Errors  The API uses standard HTTP status codes to indicate the success or failure of the API call. The body of the response will be JSON in the following format:  ``` {   \"message\": \"page not found\" } ```  # Versioning  The API is usually changed in each release, so API calls are versioned to ensure that clients don't break. To lock to a specific version of the API, you prefix the URL with its version, for example, call `/v1.30/info` to use the v1.30 version of the `/info` endpoint. If the API version specified in the URL is not supported by the daemon, a HTTP `400 Bad Request` error message is returned.  If you omit the version-prefix, the current version of the API (v1.49) is used. For example, calling `/info` is the same as calling `/v1.49/info`. Using the API without a version-prefix is deprecated and will be removed in a future release.  Engine releases in the near future should support this version of the API, so your client will continue to work even if it is talking to a newer Engine.  The API uses an open schema model, which means the server may add extra properties to responses. Likewise, the server will ignore any extra query parameters and request body properties. When you write clients, you need to ignore additional properties in responses to ensure they do not break when talking to newer daemons.   # Authentication  Authentication for registries is handled client side. The client has to send authentication details to various endpoints that need to communicate with registries, such as `POST /images/(name)/push`. These are sent as `X-Registry-Auth` header as a [base64url encoded](https://tools.ietf.org/html/rfc4648#section-5) (JSON) string with the following structure:  ``` {   \"username\": \"string\",   \"password\": \"string\",   \"email\": \"string\",   \"serveraddress\": \"string\" } ```  The `serveraddress` is a domain/IP without a protocol. Throughout this structure, double quotes are required.  If you have already got an identity token from the [`/auth` endpoint](#operation/SystemAuth), you can just pass this instead of credentials:  ``` {   \"identitytoken\": \"9cbaf023786cd7...\" } ```
 *
 * The version of the OpenAPI document: 1.49
 *
 * Generated by: https://openapi-generator.tech
 */

use super::{Error, configuration};
use crate::apis::ContentType;
use crate::apis::ResponseContent;
use crate::models;
use async_trait::async_trait;
use reqwest;
use serde::{Deserialize, Serialize, de::Error as _};
use std::sync::Arc;

#[async_trait]
pub trait ServiceApi: Send + Sync {
    /// POST /services/create
    ///
    ///
    async fn service_create<'body, 'x_registry_auth>(
        &self,
        body: models::ServiceCreateRequest,
        x_registry_auth: Option<&'x_registry_auth str>,
    ) -> Result<models::ServiceCreateResponse, Error<ServiceCreateError>>;

    /// DELETE /services/{id}
    ///
    ///
    async fn service_delete<'id>(&self, id: &'id str) -> Result<(), Error<ServiceDeleteError>>;

    /// GET /services/{id}
    ///
    ///
    async fn service_inspect<'id, 'insert_defaults>(
        &self,
        id: &'id str,
        insert_defaults: Option<bool>,
    ) -> Result<models::Service, Error<ServiceInspectError>>;

    /// GET /services
    ///
    ///
    async fn service_list<'filters, 'status>(
        &self,
        filters: Option<&'filters str>,
        status: Option<bool>,
    ) -> Result<Vec<models::Service>, Error<ServiceListError>>;

    /// GET /services/{id}/logs
    ///
    /// Get `stdout` and `stderr` logs from a service. See also [`/containers/{id}/logs`](#operation/ContainerLogs).  **Note**: This endpoint works only for services with the `local`, `json-file` or `journald` logging drivers.
    async fn service_logs<'id, 'details, 'follow, 'stdout, 'stderr, 'since, 'timestamps, 'tail>(
        &self,
        id: &'id str,
        details: Option<bool>,
        follow: Option<bool>,
        stdout: Option<bool>,
        stderr: Option<bool>,
        since: Option<i32>,
        timestamps: Option<bool>,
        tail: Option<&'tail str>,
    ) -> Result<std::path::PathBuf, Error<ServiceLogsError>>;

    /// POST /services/{id}/update
    ///
    ///
    async fn service_update<
        'id,
        'version,
        'body,
        'registry_auth_from,
        'rollback,
        'x_registry_auth,
    >(
        &self,
        id: &'id str,
        version: i64,
        body: models::ServiceUpdateRequest,
        registry_auth_from: Option<&'registry_auth_from str>,
        rollback: Option<&'rollback str>,
        x_registry_auth: Option<&'x_registry_auth str>,
    ) -> Result<models::ServiceUpdateResponse, Error<ServiceUpdateError>>;
}

pub struct ServiceApiClient {
    configuration: Arc<configuration::Configuration>,
}

impl ServiceApiClient {
    pub fn new(configuration: Arc<configuration::Configuration>) -> Self {
        Self { configuration }
    }
}

#[async_trait]
impl ServiceApi for ServiceApiClient {
    async fn service_create<'body, 'x_registry_auth>(
        &self,
        body: models::ServiceCreateRequest,
        x_registry_auth: Option<&'x_registry_auth str>,
    ) -> Result<models::ServiceCreateResponse, Error<ServiceCreateError>> {
        let local_var_configuration = &self.configuration;

        let local_var_client = &local_var_configuration.client;

        let local_var_uri_str = format!("{}/services/create", local_var_configuration.base_path);
        let mut local_var_req_builder =
            local_var_client.request(reqwest::Method::POST, local_var_uri_str.as_str());

        if let Some(ref local_var_user_agent) = local_var_configuration.user_agent {
            local_var_req_builder = local_var_req_builder
                .header(reqwest::header::USER_AGENT, local_var_user_agent.clone());
        }
        if let Some(local_var_param_value) = x_registry_auth {
            local_var_req_builder =
                local_var_req_builder.header("X-Registry-Auth", local_var_param_value.to_string());
        }
        local_var_req_builder = local_var_req_builder.json(&body);

        if let Some(timeout) = local_var_configuration.request_timeout {
            local_var_req_builder = local_var_req_builder.timeout(timeout);
        }
        let local_var_req = local_var_req_builder.build()?;
        let local_var_resp = local_var_client.execute(local_var_req).await?;

        let local_var_status = local_var_resp.status();
        let local_var_content_type = local_var_resp
            .headers()
            .get("content-type")
            .and_then(|v| v.to_str().ok())
            .unwrap_or("application/json");
        let local_var_content_type = super::ContentType::from(local_var_content_type);
        let limit = if local_var_status.is_success() {
            local_var_configuration.max_response_bytes
        } else {
            local_var_configuration.max_error_bytes
        };
        let local_var_content = super::bounded_text(local_var_resp, limit).await?;

        if local_var_status.is_success() {
            match local_var_content_type {
                ContentType::Json => serde_json::from_str(&local_var_content).map_err(Error::from),
                ContentType::Text => {
                    return Err(Error::from(serde_json::Error::custom(
                        "Received `text/plain` content type response that cannot be converted to `models::ServiceCreateResponse`",
                    )));
                }
                ContentType::Unsupported(local_var_unknown_type) => {
                    return Err(Error::from(serde_json::Error::custom(format!(
                        "Received `{local_var_unknown_type}` content type response that cannot be converted to `models::ServiceCreateResponse`"
                    ))));
                }
            }
        } else {
            let local_var_entity: Option<ServiceCreateError> =
                serde_json::from_str(&local_var_content).ok();
            let local_var_error = ResponseContent {
                status: local_var_status,
                content: local_var_content,
                entity: local_var_entity,
            };
            Err(Error::ResponseError(local_var_error))
        }
    }

    async fn service_delete<'id>(&self, id: &'id str) -> Result<(), Error<ServiceDeleteError>> {
        let local_var_configuration = &self.configuration;

        let local_var_client = &local_var_configuration.client;

        let local_var_uri_str = format!(
            "{}/services/{id}",
            local_var_configuration.base_path,
            id = crate::apis::urlencode(id)
        );
        let mut local_var_req_builder =
            local_var_client.request(reqwest::Method::DELETE, local_var_uri_str.as_str());

        if let Some(ref local_var_user_agent) = local_var_configuration.user_agent {
            local_var_req_builder = local_var_req_builder
                .header(reqwest::header::USER_AGENT, local_var_user_agent.clone());
        }

        if let Some(timeout) = local_var_configuration.request_timeout {
            local_var_req_builder = local_var_req_builder.timeout(timeout);
        }
        let local_var_req = local_var_req_builder.build()?;
        let local_var_resp = local_var_client.execute(local_var_req).await?;

        let local_var_status = local_var_resp.status();
        let limit = if local_var_status.is_success() {
            local_var_configuration.max_response_bytes
        } else {
            local_var_configuration.max_error_bytes
        };
        let local_var_content = super::bounded_text(local_var_resp, limit).await?;

        if local_var_status.is_success() {
            Ok(())
        } else {
            let local_var_entity: Option<ServiceDeleteError> =
                serde_json::from_str(&local_var_content).ok();
            let local_var_error = ResponseContent {
                status: local_var_status,
                content: local_var_content,
                entity: local_var_entity,
            };
            Err(Error::ResponseError(local_var_error))
        }
    }

    async fn service_inspect<'id, 'insert_defaults>(
        &self,
        id: &'id str,
        insert_defaults: Option<bool>,
    ) -> Result<models::Service, Error<ServiceInspectError>> {
        let local_var_configuration = &self.configuration;

        let local_var_client = &local_var_configuration.client;

        let local_var_uri_str = format!(
            "{}/services/{id}",
            local_var_configuration.base_path,
            id = crate::apis::urlencode(id)
        );
        let mut local_var_req_builder =
            local_var_client.request(reqwest::Method::GET, local_var_uri_str.as_str());

        if let Some(ref param_value) = insert_defaults {
            local_var_req_builder =
                local_var_req_builder.query(&[("insertDefaults", &param_value.to_string())]);
        }
        if let Some(ref local_var_user_agent) = local_var_configuration.user_agent {
            local_var_req_builder = local_var_req_builder
                .header(reqwest::header::USER_AGENT, local_var_user_agent.clone());
        }

        if let Some(timeout) = local_var_configuration.request_timeout {
            local_var_req_builder = local_var_req_builder.timeout(timeout);
        }
        let local_var_req = local_var_req_builder.build()?;
        let local_var_resp = local_var_client.execute(local_var_req).await?;

        let local_var_status = local_var_resp.status();
        let local_var_content_type = local_var_resp
            .headers()
            .get("content-type")
            .and_then(|v| v.to_str().ok())
            .unwrap_or("application/json");
        let local_var_content_type = super::ContentType::from(local_var_content_type);
        let limit = if local_var_status.is_success() {
            local_var_configuration.max_response_bytes
        } else {
            local_var_configuration.max_error_bytes
        };
        let local_var_content = super::bounded_text(local_var_resp, limit).await?;

        if local_var_status.is_success() {
            match local_var_content_type {
                ContentType::Json => serde_json::from_str(&local_var_content).map_err(Error::from),
                ContentType::Text => {
                    return Err(Error::from(serde_json::Error::custom(
                        "Received `text/plain` content type response that cannot be converted to `models::Service`",
                    )));
                }
                ContentType::Unsupported(local_var_unknown_type) => {
                    return Err(Error::from(serde_json::Error::custom(format!(
                        "Received `{local_var_unknown_type}` content type response that cannot be converted to `models::Service`"
                    ))));
                }
            }
        } else {
            let local_var_entity: Option<ServiceInspectError> =
                serde_json::from_str(&local_var_content).ok();
            let local_var_error = ResponseContent {
                status: local_var_status,
                content: local_var_content,
                entity: local_var_entity,
            };
            Err(Error::ResponseError(local_var_error))
        }
    }

    async fn service_list<'filters, 'status>(
        &self,
        filters: Option<&'filters str>,
        status: Option<bool>,
    ) -> Result<Vec<models::Service>, Error<ServiceListError>> {
        let local_var_configuration = &self.configuration;

        let local_var_client = &local_var_configuration.client;

        let local_var_uri_str = format!("{}/services", local_var_configuration.base_path);
        let mut local_var_req_builder =
            local_var_client.request(reqwest::Method::GET, local_var_uri_str.as_str());

        if let Some(ref param_value) = filters {
            local_var_req_builder =
                local_var_req_builder.query(&[("filters", &param_value.to_string())]);
        }
        if let Some(ref param_value) = status {
            local_var_req_builder =
                local_var_req_builder.query(&[("status", &param_value.to_string())]);
        }
        if let Some(ref local_var_user_agent) = local_var_configuration.user_agent {
            local_var_req_builder = local_var_req_builder
                .header(reqwest::header::USER_AGENT, local_var_user_agent.clone());
        }

        if let Some(timeout) = local_var_configuration.request_timeout {
            local_var_req_builder = local_var_req_builder.timeout(timeout);
        }
        let local_var_req = local_var_req_builder.build()?;
        let local_var_resp = local_var_client.execute(local_var_req).await?;

        let local_var_status = local_var_resp.status();
        let local_var_content_type = local_var_resp
            .headers()
            .get("content-type")
            .and_then(|v| v.to_str().ok())
            .unwrap_or("application/json");
        let local_var_content_type = super::ContentType::from(local_var_content_type);
        let limit = if local_var_status.is_success() {
            local_var_configuration.max_response_bytes
        } else {
            local_var_configuration.max_error_bytes
        };
        let local_var_content = super::bounded_text(local_var_resp, limit).await?;

        if local_var_status.is_success() {
            match local_var_content_type {
                ContentType::Json => serde_json::from_str(&local_var_content).map_err(Error::from),
                ContentType::Text => {
                    return Err(Error::from(serde_json::Error::custom(
                        "Received `text/plain` content type response that cannot be converted to `Vec&lt;models::Service&gt;`",
                    )));
                }
                ContentType::Unsupported(local_var_unknown_type) => {
                    return Err(Error::from(serde_json::Error::custom(format!(
                        "Received `{local_var_unknown_type}` content type response that cannot be converted to `Vec&lt;models::Service&gt;`"
                    ))));
                }
            }
        } else {
            let local_var_entity: Option<ServiceListError> =
                serde_json::from_str(&local_var_content).ok();
            let local_var_error = ResponseContent {
                status: local_var_status,
                content: local_var_content,
                entity: local_var_entity,
            };
            Err(Error::ResponseError(local_var_error))
        }
    }

    /// Get `stdout` and `stderr` logs from a service. See also [`/containers/{id}/logs`](#operation/ContainerLogs).  **Note**: This endpoint works only for services with the `local`, `json-file` or `journald` logging drivers.
    async fn service_logs<'id, 'details, 'follow, 'stdout, 'stderr, 'since, 'timestamps, 'tail>(
        &self,
        id: &'id str,
        details: Option<bool>,
        follow: Option<bool>,
        stdout: Option<bool>,
        stderr: Option<bool>,
        since: Option<i32>,
        timestamps: Option<bool>,
        tail: Option<&'tail str>,
    ) -> Result<std::path::PathBuf, Error<ServiceLogsError>> {
        let local_var_configuration = &self.configuration;

        let local_var_client = &local_var_configuration.client;

        let local_var_uri_str = format!(
            "{}/services/{id}/logs",
            local_var_configuration.base_path,
            id = crate::apis::urlencode(id)
        );
        let mut local_var_req_builder =
            local_var_client.request(reqwest::Method::GET, local_var_uri_str.as_str());

        if let Some(ref param_value) = details {
            local_var_req_builder =
                local_var_req_builder.query(&[("details", &param_value.to_string())]);
        }
        if let Some(ref param_value) = follow {
            local_var_req_builder =
                local_var_req_builder.query(&[("follow", &param_value.to_string())]);
        }
        if let Some(ref param_value) = stdout {
            local_var_req_builder =
                local_var_req_builder.query(&[("stdout", &param_value.to_string())]);
        }
        if let Some(ref param_value) = stderr {
            local_var_req_builder =
                local_var_req_builder.query(&[("stderr", &param_value.to_string())]);
        }
        if let Some(ref param_value) = since {
            local_var_req_builder =
                local_var_req_builder.query(&[("since", &param_value.to_string())]);
        }
        if let Some(ref param_value) = timestamps {
            local_var_req_builder =
                local_var_req_builder.query(&[("timestamps", &param_value.to_string())]);
        }
        if let Some(ref param_value) = tail {
            local_var_req_builder =
                local_var_req_builder.query(&[("tail", &param_value.to_string())]);
        }
        if let Some(ref local_var_user_agent) = local_var_configuration.user_agent {
            local_var_req_builder = local_var_req_builder
                .header(reqwest::header::USER_AGENT, local_var_user_agent.clone());
        }

        if let Some(timeout) = local_var_configuration.request_timeout {
            local_var_req_builder = local_var_req_builder.timeout(timeout);
        }
        let local_var_req = local_var_req_builder.build()?;
        let local_var_resp = local_var_client.execute(local_var_req).await?;

        let local_var_status = local_var_resp.status();
        let local_var_content_type = local_var_resp
            .headers()
            .get("content-type")
            .and_then(|v| v.to_str().ok())
            .unwrap_or("application/json");
        let local_var_content_type = super::ContentType::from(local_var_content_type);
        let limit = if local_var_status.is_success() {
            local_var_configuration.max_response_bytes
        } else {
            local_var_configuration.max_error_bytes
        };
        let local_var_content = super::bounded_text(local_var_resp, limit).await?;

        if local_var_status.is_success() {
            match local_var_content_type {
                ContentType::Json => serde_json::from_str(&local_var_content).map_err(Error::from),
                ContentType::Text => {
                    return Err(Error::from(serde_json::Error::custom(
                        "Received `text/plain` content type response that cannot be converted to `std::path::PathBuf`",
                    )));
                }
                ContentType::Unsupported(local_var_unknown_type) => {
                    return Err(Error::from(serde_json::Error::custom(format!(
                        "Received `{local_var_unknown_type}` content type response that cannot be converted to `std::path::PathBuf`"
                    ))));
                }
            }
        } else {
            let local_var_entity: Option<ServiceLogsError> =
                serde_json::from_str(&local_var_content).ok();
            let local_var_error = ResponseContent {
                status: local_var_status,
                content: local_var_content,
                entity: local_var_entity,
            };
            Err(Error::ResponseError(local_var_error))
        }
    }

    async fn service_update<
        'id,
        'version,
        'body,
        'registry_auth_from,
        'rollback,
        'x_registry_auth,
    >(
        &self,
        id: &'id str,
        version: i64,
        body: models::ServiceUpdateRequest,
        registry_auth_from: Option<&'registry_auth_from str>,
        rollback: Option<&'rollback str>,
        x_registry_auth: Option<&'x_registry_auth str>,
    ) -> Result<models::ServiceUpdateResponse, Error<ServiceUpdateError>> {
        let local_var_configuration = &self.configuration;

        let local_var_client = &local_var_configuration.client;

        let local_var_uri_str = format!(
            "{}/services/{id}/update",
            local_var_configuration.base_path,
            id = crate::apis::urlencode(id)
        );
        let mut local_var_req_builder =
            local_var_client.request(reqwest::Method::POST, local_var_uri_str.as_str());

        local_var_req_builder = local_var_req_builder.query(&[("version", &version.to_string())]);
        if let Some(ref param_value) = registry_auth_from {
            local_var_req_builder =
                local_var_req_builder.query(&[("registryAuthFrom", &param_value.to_string())]);
        }
        if let Some(ref param_value) = rollback {
            local_var_req_builder =
                local_var_req_builder.query(&[("rollback", &param_value.to_string())]);
        }
        if let Some(ref local_var_user_agent) = local_var_configuration.user_agent {
            local_var_req_builder = local_var_req_builder
                .header(reqwest::header::USER_AGENT, local_var_user_agent.clone());
        }
        if let Some(local_var_param_value) = x_registry_auth {
            local_var_req_builder =
                local_var_req_builder.header("X-Registry-Auth", local_var_param_value.to_string());
        }
        local_var_req_builder = local_var_req_builder.json(&body);

        if let Some(timeout) = local_var_configuration.request_timeout {
            local_var_req_builder = local_var_req_builder.timeout(timeout);
        }
        let local_var_req = local_var_req_builder.build()?;
        let local_var_resp = local_var_client.execute(local_var_req).await?;

        let local_var_status = local_var_resp.status();
        let local_var_content_type = local_var_resp
            .headers()
            .get("content-type")
            .and_then(|v| v.to_str().ok())
            .unwrap_or("application/json");
        let local_var_content_type = super::ContentType::from(local_var_content_type);
        let limit = if local_var_status.is_success() {
            local_var_configuration.max_response_bytes
        } else {
            local_var_configuration.max_error_bytes
        };
        let local_var_content = super::bounded_text(local_var_resp, limit).await?;

        if local_var_status.is_success() {
            match local_var_content_type {
                ContentType::Json => serde_json::from_str(&local_var_content).map_err(Error::from),
                ContentType::Text => {
                    return Err(Error::from(serde_json::Error::custom(
                        "Received `text/plain` content type response that cannot be converted to `models::ServiceUpdateResponse`",
                    )));
                }
                ContentType::Unsupported(local_var_unknown_type) => {
                    return Err(Error::from(serde_json::Error::custom(format!(
                        "Received `{local_var_unknown_type}` content type response that cannot be converted to `models::ServiceUpdateResponse`"
                    ))));
                }
            }
        } else {
            let local_var_entity: Option<ServiceUpdateError> =
                serde_json::from_str(&local_var_content).ok();
            let local_var_error = ResponseContent {
                status: local_var_status,
                content: local_var_content,
                entity: local_var_entity,
            };
            Err(Error::ResponseError(local_var_error))
        }
    }
}

/// struct for typed errors of method [`ServiceApi::service_create`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum ServiceCreateError {
    Status400(models::ErrorResponse),
    Status403(models::ErrorResponse),
    Status409(models::ErrorResponse),
    Status500(models::ErrorResponse),
    Status503(models::ErrorResponse),
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`ServiceApi::service_delete`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum ServiceDeleteError {
    Status404(models::ErrorResponse),
    Status500(models::ErrorResponse),
    Status503(models::ErrorResponse),
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`ServiceApi::service_inspect`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum ServiceInspectError {
    Status404(models::ErrorResponse),
    Status500(models::ErrorResponse),
    Status503(models::ErrorResponse),
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`ServiceApi::service_list`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum ServiceListError {
    Status500(models::ErrorResponse),
    Status503(models::ErrorResponse),
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`ServiceApi::service_logs`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum ServiceLogsError {
    Status404(models::ErrorResponse),
    Status500(models::ErrorResponse),
    Status503(models::ErrorResponse),
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`ServiceApi::service_update`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum ServiceUpdateError {
    Status400(models::ErrorResponse),
    Status404(models::ErrorResponse),
    Status500(models::ErrorResponse),
    Status503(models::ErrorResponse),
    UnknownValue(serde_json::Value),
}
